<h1 mat-dialog-title>CONFIRM PHONE NUMBER</h1>
<mat-progress-bar mode="indeterminate" *ngIf="isProcessing"></mat-progress-bar>

  <div mat-dialog-content>


    <p class="">
      Enter the OTP code sent to <b>{{phoneNunber}}</b>. <small class="text-primary" (click)="validatePhoneNumberSMS()">Resend Code</small>
    </p>
    <div class="form-group" >
      <div class="col-md-12 col-sm-12 col-xs-12 pl-0 pr-0 payment-methods-input">
        <input type="text" placeholder="Phone Number" numberOnly [formControl]="uniqueCodeCtrl">
      </div>


    </div>
  </div>
  <mat-dialog-actions class="d-flex-right">
    <button type="button" mat-raised-button (click)="onClose()">CLOSE</button>
    <button mat-raised-button color="primary" [disabled]="uniqueCodeCtrl?.invalid"
      type="buttons" (click)="validatePhoneNumber(uniqueCodeCtrl?.value)">CONFIRM</button>
  </mat-dialog-actions>
