<!DOCTYPE html>
<html lang="en">

  <div *ngIf="!windowLoaded"  class="container spinner-wrapper">
    <mat-spinner class="custom-spinner-color"></mat-spinner>

  </div>

	<body class="home_classic_ecommerce" >




		<!-- backtotop - start -->
		<!-- <div id="thetop"></div>
		<div class="backtotop" data-bg-color="#000000">
			<a href="#" class="scroll">
				<i class="far fa-arrow-up"></i>
			</a>
		</div> -->
		<!-- backtotop - end -->

		<!-- preloader - start -->
		<!-- <div id="preloader"></div> -->
		<!-- preloader - end -->


	<!-- header_section - start
		================================================== -->
	<app-top-nav  [featuredShops]="featuredShops" [industries]="industries" [target]="target" (htmlTarget)="filterByCategory($event,target)"></app-top-nav>
		<!-- header_section - end
		================================================== -->

		<!-- main body - start
		================================================== -->
		<main >


<!--
      <div *ngIf="!windowLoaded"  class="container spinner-wrapper">
        <mat-spinner class="custom-spinner-color"></mat-spinner>

      </div> -->

			<!-- slider_section - start
			================================================== -->
      <app-landing-page ></app-landing-page>
      <!-- <div >
        <mat-spinner></mat-spinner>

      </div> -->
      <!-- <div>
        <mat-progress-bar mode="buffer"></mat-progress-bar>
      </div> -->
			<!-- <section class="slider_section classic_ecommerce_slider position-relative clearfix">
				<div class="main_slider clearfix">
 -->

              <!-- <div class="item d-flex align-items-center clearfix" data-background="../../assets/images/african-shopping-time-2022-02-12-05-06-41-utc.jpg"> -->
              <!-- <div class="item d-flex align-items-center clearfix sf-home">
                <div class="container">
                  <div class="slider_content">
                    <h3 data-animation="fadeInUp" data-delay=".6s">Sweet Home Collections.</h3>
                    <p data-animation="fadeInUp" data-delay=".8s">
                      Discover new ways to dress this spring with a selection of the best designer jackets.
                    </p>
                    <div  class="abtn_wrap clearfix" data-animation="fadeInUp" data-delay="1s">
                      <a (click)="scrollTo(shops)" class="custom_btn bg_white text-uppercase">SHOPS</a>
                    </div>
                  </div>
                </div>
              </div>
				</div> -->

				<!-- slider progress -->
				<!-- <div class="slick-progress">
					<span></span>
				</div>
			</section> -->
			<!-- slider_section - end
			================================================== -->


			<!-- policy_section - start
			================================================== -->
			<section class="classic_ecommerce_policy d-flex align-items-center clearfix" data-bg-color="#f8f8f8">
				<div class="container">
					<div class="row mt__50">

						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<div class="ecommerce_policy_item">
								<div class="item_icon">
									<img src="assets/images/safe-delivery-01.png" alt="icon_not_found">
								</div>
								<div class="item_content">
									<h3 class="item_title">Worldwide Shipping</h3>
									<p>Get free shipping over $65.</p>
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<div class="ecommerce_policy_item">
								<div class="item_icon">
									<img src="assets/images/safe-delivery-01.png" alt="icon_not_found">
								</div>
								<div class="item_content">
									<h3 class="item_title">Free Returns</h3>
									<p>30-days free return policy.</p>
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<div class="ecommerce_policy_item">
								<div class="item_icon">
									<img src="assets/images/shop-secure-01.png" alt="icon_not_found">
								</div>
								<div class="item_content">
									<h3 class="item_title">Secured payments</h3>
									<p>Accept all major credit cards.</p>
								</div>
							</div>
						</div>

					</div>
				</div>
			</section>
			<!-- policy_section - end
			================================================== -->


			<!-- category_section - start
			================================================== -->
			<section class="category_section sec_ptb_100 pb-0 clearfix" #shops>
				<div class="container">
					<div class="ecommerce_category_masonry grid">
						<div class="grid-sizer"></div>
            <h3 class="main-heading">Shop for your everyday essentials with ease. Support local retailers</h3>
						<div class="grid-item w_66">

							<div class="ce_offer_carousel position-relative clearfix">
								<div class="slideshow1_slider">

                  <owl-carousel-o [options]="customOptions" class="slideshow1_slider">
                    <ng-container *ngFor="let shop of featuredShops">
                    <ng-template carouselSlide class="item">
									    <div class="item">
										    <div class="ce_offer_fullimage2 offer_fullimage text-white">

											<img src="{{shop.featured_image}}" onerror="this.src='../../assets/images/black-women-shopping.jpg'"  alt="alternative" />
											<div class="item_content">
												<!-- <h3 class="item_title text-white">Special Offers</h3> -->
                        <h3 class="item_title text-white">{{shop.business_name}}</h3>
												<p>
													{{shop.location}}
												</p>
												<a class="custom_btn bg_white text-uppercase" [routerLink]="['/shop-details', shop]">View Shop</a>
											</div>
										</div>
									  </div>
                    </ng-template>
                </ng-container>
                  </owl-carousel-o>
								</div>

								<!-- <div class="carousel_nav clearfix">
									<button type="button" class="left_arrow"><i class="fal fa-angle-left"></i></button>
									<button type="button" class="right_arrow"><i class="fal fa-angle-right"></i></button>
								</div> -->
							</div>
						</div>

            <div class="grid-item1">
              <div class="ecommerce_category_fullimage">
                <img class="create-shop-wrapper" src="assets/images/undraw_web_shopping_re_owap.svg" alt="image_not_found">

              </div>
              <button type="button" onclick="window.open('https://storefront.kudigo.com/');" class="create-btn">CREATE SHOP</button>
            </div>
					</div>
				</div>
			</section>

      <div class="container category-heading-wrapper mt-2">
        <h3 class="main-heading">
          Popular Categories
        </h3>
      </div>
      <div class="container category-wrapper" >
        <div class=" category-item ">
          <div class="ecommerce_category_fullimage ">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMEpzuK5beL9iJ31-n-2GIijS8pAsNEZC-o37dvU0eM6JZYLJO2LGfkmgjdy9DIn4HeUQ&usqp=CAU" alt="image_not_found">
            <h3 class="item_title">
              <a (click)="filterByCategory(industries[0]?.name,target)">{{industries[0]?.name}}</a>
            </h3>
          </div>
        </div>

        <div class=" category-item">
          <div class="ecommerce_category_fullimage ">
            <img src="https://www.cosmeticsdesign-europe.com/var/wrbm_gb_food_pharma/storage/images/publications/cosmetics/cosmeticsdesign-europe.com/article/2020/05/25/covid-19-crisis-impacts-beauty-financials-hard-personal-care-fares-better/11419099-1-eng-GB/COVID-19-crisis-impacts-beauty-financials-hard-personal-care-fares-better.jpg" alt="image_not_found">
            <h3 class="item_title">
              <a (click)="filterByCategory(industries[1]?.name,target)">{{industries[1]?.name}}</a>
            </h3>
          </div>
        </div>

        <div class=" category-item">
          <div class="ecommerce_category_fullimage ">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSt1sW19JoqS92cT6-6rjsjJTCliEGUhtxF_K7EH0o30TyZ6zgJpflXKGWIZd4H9NEjUEQ&usqp=CAU" alt="image_not_found">
            <h3 class="item_title">
              <a (click)="filterByCategory(industries[2]?.name,target)">{{industries[2]?.name}}</a>
            </h3>
          </div>
        </div>


      </div>
			<!-- category_section - end
			================================================== -->


			<!-- product_section - start
			================================================== -->
			<section class="product_section sec_ptb_100 clearfix">
				<div class="container">
					<div class="row mb_30 align-items-center justify-content-lg-between">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-5">
							<div class="ecommerce_section_title" #container>
								<h2 class="title_text mb-0" id="silas" #target>{{ProductsTitle}}</h2>
							</div>
						</div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<ul class="button-group filters-button-group ul_li_right clearfix" >
                <!--Larger screen navs-->
                <ul class="button-group filters-button-group ul_li_right clearfix ms-0">
                  <li class="large-screen-cat-nav ms-0" ><button [class.active]="selectedCategory === ''" (click)="filterCategory('',target)">All</button></li>
                  <li class="large-screen-cat-nav"  *ngFor="let category of industries | slice:4:9"><button (click)="filterCategory(category?.name,target)" [class.active]="selectedCategory === category?.name" >{{category?.name}}</button></li>

                  <li><span class="filter_sidebar_btn" data-bg-color="#f9f9f9"><i class="far fa-bars"></i> FILTER</span></li>
                </ul>
							</ul>
						</div>

						<!-- <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
							<ul class="button-group filters-button-group ul_li_right clearfix">
								<li><button class="active" routerLink="dresses">All</button></li>
								<li><button  routerLink="fall">Fall</button></li>
								<li><button  routerLink="blouse">Blouse</button></li>
								<li ><button  routerLink="dresses">Dresses</button></li>

								<li><button >Tops</button></li>
								<li><button >Bodysuits</button></li>
								<li><span class="filter_sidebar_btn" data-bg-color="#f9f9f9"><i class="far fa-bars"></i> FILTER</span></li>
							</ul>
						</div> -->
					</div>
          <!-- <router-outlet></router-outlet> -->

          <app-empty-record *ngIf="products?.length <= 0 && !isProcessing"></app-empty-record>
          <div *ngIf="isProcessing"  class="container spinner-wrapper">
            <mat-spinner></mat-spinner>

          </div>
          <div  class="element-grid column4_element_grid mb_50" >

            <div class="element-item " *ngFor="let item of products" >
              <div class="ecommerce_product_grid">
                <ul *ngIf="item?.new_quantity<=0" class="product_label ul_li clearfix">
                  <li class="bg-danger">Out of Stock</li>
                </ul>
                <div class="tab-content">
                  <div id="ptab1_1" class="tab-pane fade active">
                    <div class="item_image">
                      <img src="{{item.image}}" onerror="this.src='../../assets/images/reg_bg_02.png'" alt="image_not_found">
                    </div>
                  </div>
                  <div id="ptab1_2" class="tab-pane fade">
                    <div class="item_image">
                      <img src="assets/images/reg_bg_02.png" alt="image_not_found">
                    </div>
                  </div>
                  <div id="ptab1_3" class="tab-pane fade">
                    <div class="item_image">
                      <img src="{{item.image}}" onerror="this.src='../../assets/images/reg_bg_02.png'" alt="image_not_found">
                    </div>
                  </div>
                  <ul class="product_action_btns ul_li_center clearfix">
                    <!-- <li><a class="tooltips" data-placement="top" title="Add To Wishlist" href="#!"><i class="fal fa-heart"></i></a></li> -->
                    <li><a class="tooltips" data-placement="top" title="Add To Cart" (click)="addProductToCart(item)" (click)="openCartDialog()" ><i class="fal fa-shopping-basket"></i></a></li>
                    <li><a class="tooltips q-v" data-placement="top" title="Quick View" (click)="openDialog(item)" ><i class="fal fa-eye"></i></a></li>
                  </ul>
                </div>
                <div class="item_content">
                  <h3 class="item_title">
                    <a href="#!">{{item.name | truncate:2}}</a>
                  </h3>
                  <ul class="product_color ul_li nav clearfix">
                    <li class="active"><a class="pbg_brown" data-toggle="tab" href="#ptab1_1"></a></li>
                    <li><a class="pbg_olivegreen" data-toggle="tab" href="#ptab1_2"></a></li>
                    <li><a class="pbg_gray" data-toggle="tab" href="#ptab1_3"></a></li>
                  </ul>
                  <span class="item_price"><strong>{{item.currency}} {{item.price_list[0]?.selling_price}} </strong> <del>{{item.currency}} {{item.price_list[0]?.selling_price*2}}</del></span>

                  <button class="mat-button-wrapper mt-3" (click)="addProductToCart(item)" (click)="openCartDialog()">ADD TO CART</button>
                </div>
              </div>
            </div>
          </div>
          <app-pagination *ngIf="products?.length > 0 " [dataSet]="products" [nextPage]="nextPage"
            [prevPage]="prevPage" [totalPage]="totalPage" [requestPayload]="filterParams" [requestMethod]="'POST'"
            (pageChanged)="onPageChanged($event)" [(isProcessing)]="isProcessing">
          </app-pagination>



				</div>
			</section>
      <!-- <div class="load_more text-center clearfix" style="display: flex; justify-content: center; align-items: center;" *ngIf="products.length">
        <a class="custom_btn bg_gray text-uppercase m-3" href="#!">Load More</a>
      </div> -->

			<div class="sidebar-menu-wrapper">
				<div class="filter_sidebar">
					<button type="button" class="close_btn mb_50"><i class="fal fa-times"></i></button>
					<div class="fs_widget fs_category_list">
						<h3 class="fs_widget_title text-uppercase">Top Categories</h3>
            <ul class="ul_li_block clearfix">
							<li *ngFor="let category of industries"><a (click)="filterCategory(category.name,target)" (click)="filterByCategory(category.name,target)">{{category.name}}</a></li>

						</ul>
						<!-- <ul class="ul_li_block clearfix">
							<li><a href="#!"><span><i class="fab fa-black-tie"></i></span>Andy</a></li>
							<li><a href="#!"><span><i class="fal fa-tshirt"></i></span>Ariadne’s Thread</a></li>
							<li><a href="#!"><span><i class="fal fa-watch"></i></span>Black Swan</a></li>
							<li><a href="#!"><span><i class="fal fa-compact-disc"></i></span>Disco</a></li>
							<li><a href="#!"><span><i class="fas fa-gem"></i></span>Discovering Greece</a></li>
							<li><a href="#!"><span><i class="fal fa-bicycle"></i></span>Folding the News</a></li>
							<li><a href="#!"><span><i class="far fa-laptop"></i></span>George C.</a></li>
							<li><a href="#!"><span><i class="fas fa-mobile-alt"></i></span>Helen of Troy</a></li>
							<li><a href="#!"><span><i class="fab fa-black-tie"></i></span>Hi-Tech</a></li>
							<li><a href="#!"><span><i class="fab fa-black-tie"></i></span>Yokoso</a></li>
						</ul> -->
					</div>

					<div class="fs_widget fs_price_list">
						<h3 class="fs_widget_title text-uppercase">Price filter</h3>
						<form action="#">
							<ul class="ul_li_block clearfix">
								<li>
									<input id="fs_price_1" type="radio" name="fs_price_wroup" checked>
									<label for="fs_price_1">$25 - $100</label>
								</li>
								<li>
									<input id="fs_price_2" type="radio" name="fs_price_wroup">
									<label for="fs_price_2">$100 - $200</label>
								</li>
								<li>
									<input id="fs_price_3" type="radio" name="fs_price_wroup">
									<label for="fs_price_3">$200 - $300</label>
								</li>
								<li>
									<input id="fs_price_4" type="radio" name="fs_price_wroup">
									<label for="fs_price_4">$400 - $500</label>
								</li>
								<li>
									<input id="fs_price_5" type="radio" name="fs_price_wroup">
									<label for="fs_price_5">$500 - $1000</label>
								</li>
							</ul>
						</form>
					</div>



					<div class="fs_widget fs_realted_post">
						<h3 class="fs_widget_title text-uppercase">Your may also like</h3>
						<div class="small_blog">
							<a href="blog_details.html" class="item_image">
								<img src="assets/images/reg_bg_02.png" alt="image_not_found">
							</a>
							<div class="item_content">
								<h3 class="item_title">
									<a href="blog_details.html">
										A Sound Way To Treat Hearing Loss
									</a>
								</h3>
								<span class="post_date">March 12, 2020</span>
							</div>
						</div>

						<div class="small_blog">
							<a href="blog_details.html" class="item_image">
								<img src="assets/images/reg_bg_02.png" alt="image_not_found">
							</a>
							<div class="item_content">
								<h3 class="item_title">
									<a href="blog_details.html">
										A Sound Way To Treat Hearing Loss
									</a>
								</h3>
								<span class="post_date">March 12, 2020</span>
							</div>
						</div>

						<div class="small_blog">
							<a href="blog_details.html" class="item_image">
								<img src="assets/images/reg_bg_02.png" alt="image_not_found">
							</a>
							<div class="item_content">
								<h3 class="item_title">
									<a href="blog_details.html">
										A Sound Way To Treat Hearing Loss
									</a>
								</h3>
								<span class="post_date">March 12, 2020</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- product_section - end
			================================================== -->


			<!-- offer_section - start
			================================================== -->
			<section class="offer_section clearfix">
				<div class="container">
					<div class="row no-gutters justify-content-lg-between">
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 my-3">
							<div class="ce_offer_fullimage offer_fullimage text-white text-center">
								<img src="assets/images/young_black.JPG" alt="image_not_found">
								<div class="item_content">
									<h3 class="item_title text-white mb_15">Read the Blog</h3>
									<a class="text_btn text-uppercase" href="#!"><span>View all Posts</span></a>
								</div>
							</div>
						</div>

						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 my-3">
							<div class="ce_offer_fullimage offer_fullimage text-white text-center">
								<img src="assets/images/portrait-of-happy-black-couple-using-phone-with-sh-2022-02-17-19-50-55-utc.jpg" alt="image_not_found">
								<div class="item_content">
									<h3 class="item_title text-white mb_15">Follow Us On Instagram</h3>
									<a class="text_btn text-uppercase" href="#!"><span>@Kudigo_inc</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- offer_section - end
			================================================== -->

      <!-- <mat-toolbar color="accent">
        <button mat-icon-button matTooltip="Application Menu" (click)="sidenav.toggle()">
            <mat-icon>settings</mat-icon>
        </button>
        Account Settings
        <span style="flex: 1 1 auto;"></span>
        <div>
            <button mat-icon-button matTooltip="Switch Apps">
                <mat-icon>apps</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Notifications">
                <mat-icon>notifications</mat-icon>
            </button>
            <button mat-icon-button matTooltip="My Account" [matMenuTriggerFor]="accountMenu">
                <mat-icon>account_circle</mat-icon>
            </button>
            <mat-menu #accountMenu [overlapTrigger]="false" yPosition="below">
                <button mat-menu-item routerLink="#">
                    <mat-icon>person</mat-icon><span>My Account</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>help</mat-icon><span>Help</span>
                </button>
                <mat-divider></mat-divider>
                <button mat-menu-item>
                    <mat-icon>exit_to_app</mat-icon>Logout
                </button>
            </mat-menu>
        </div>
    </mat-toolbar>
    <mat-sidenav-container style="height: calc(100% - 64px); margin: 0;">
        <mat-sidenav #sidenav mode="side" [class.mat-elevation-z4]="true" style="width: 240px">
            <mat-nav-list dense>
                <mat-list-item routerLink="#"><mat-icon>dashboard</mat-icon>Dashboard</mat-list-item>
                <mat-list-item routerLink="#"><mat-icon>check_box</mat-icon>General</mat-list-item>
                <mat-list-item routerLink="#"><mat-icon>person</mat-icon>Profile</mat-list-item>
                <mat-list-item routerLink="#"><mat-icon>notification_important</mat-icon>Notification</mat-list-item>
                <mat-expansion-panel [class.mat-elevation-z0]="true" dense>
                    <mat-expansion-panel-header>
                        Preference
                    </mat-expansion-panel-header>
                    <mat-nav-list dense>
                        <a mat-list-item routerLink="#"><mat-icon>attach_money</mat-icon>Billing</a>
                        <a mat-list-item routerLink="#"><mat-icon>notification_important</mat-icon>Notification</a>
                    </mat-nav-list>
                </mat-expansion-panel>
                <mat-expansion-panel [class.mat-elevation-z0]="true" dense>
                    <mat-expansion-panel-header>
                        Privacy
                    </mat-expansion-panel-header>
                    <mat-nav-list dense>
                        <a mat-list-item routerLink="#"><mat-icon>person_add</mat-icon>Partnership Request</a>
                        <a mat-list-item routerLink="#"><mat-icon>visibility</mat-icon>Profile Visibility</a>
                    </mat-nav-list>
                </mat-expansion-panel>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet>
                <div class="container mat-body-1">
                    Account Component
                </div>
            </router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container> -->
			<!-- newsletter_section - start
			================================================== -->
			<section class="newsletter_section ecommerce_newsletter sec_ptb_100 clearfix">
				<div class="container">
					<div class="form_wrap text-center">
						<form action="#">
							<h2>Start of Summer Up to 35% off on all items</h2>
							<div class="form_item">
								<input type="email" name="email" placeholder="Your email address">
								<button type="submit" class="bg_black_subscribe">Subcribe</button>
							</div>
							<p class="mb-0">
								Sign up to our Newsletter and get the discount code
							</p>
						</form>
					</div>
				</div>
			</section>
			<!-- newsletter_section - end
			================================================== -->


		</main>
		<!-- main body - end
		================================================== -->


		<!-- footer_section - start
		================================================== -->
	<app-footer></app-footer>
		<!-- footer_section - end
		================================================== -->


		<!-- fraimwork - jquery include -->
		<script src="assets/js/jquery-3.5.1.min.js"></script>
		<script src="assets/js/popper.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>

		<!-- mobile menu - jquery include -->
        <script src="assets/js/mCustomScrollbar.js"></script>

		<!-- google map - jquery include -->
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDk2HrmqE4sWSei0XdKGbOMOHN3Mm2Bf-M&ver=2.1.6"></script>
        <script src="assets/js/gmaps.min.js"></script>

		<!-- animation - jquery include -->
        <script src="assets/js/parallaxie.js"></script>
        <script src="assets/js/wow.min.js"></script>

		<!-- nice select - jquery include -->
        <script src="assets/js/nice-select.min.js"></script>

		<!-- carousel - jquery include -->
        <script src="assets/js/slick.min.js"></script>

		<!-- countdown timer - jquery include -->
        <script src="assets/js/countdown.js"></script>

		<!-- popup images & videos - jquery include -->
        <script src="assets/js/magnific-popup.min.js"></script>

		<!-- filtering & masonry layout - jquery include -->
        <script src="assets/js/isotope.pkgd.min.js"></script>
        <script src="assets/js/masonry.pkgd.min.js"></script>
        <script src="assets/js/imagesloaded.pkgd.min.js"></script>

		<!-- jquery ui - jquery include -->
        <script src="assets/js/jquery-ui.js"></script>

		<!-- custom - jquery include -->
		<script src="assets/js/custom.js"></script>


		<!-- product quick view - end -->
		<!-- shop_section - end
			================================================== -->

	</body>
</html>
