	<main>
  <!-- slider_section - start
			================================================== -->
  <section class="offer_section sec_ptb_100 pb-0 clearfix">
    <div class="container">
      <div class="medical_offer_carousel">
  <owl-carousel-o [options]="sectionOptions">
    <ng-container *ngFor="let banner of banners">
      <ng-template carouselSlide [id]="banner.image">
        <div class="item" style="background-color: rgb(235, 235, 235);">
          <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 col-md-6 order-last">
              <div class="item_image">
                <img src="{{banner.image}}" alt="image_not_found">
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="item_content">
                <strong class="offer_text">10%off</strong>
                <h3 class="item_title mb_15">On the entire range of storefront Sales</h3>
                <p class="mb-0">
                  Don’t miss the  sale  and grab all the available products
                </p>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ng-container>

  </owl-carousel-o>
      </div>
  </div>
  <div class="container">
    <mat-progress-bar
     color="Primary"
     mode="determinate"
     [value]="progressbarValue">
    </mat-progress-bar>
  </div>
  </section>

			<!-- slider_section - end
			================================================== -->

  </main>
