	<main>
  <!-- slider_section - start
			================================================== -->
  <section class="offer_section sec_ptb_100 pb-0 clearfix">
    <div class="container">
      <div class="medical_offer_carousel">
  <owl-carousel-o [options]="sectionOptions">
    <ng-container >
      <ng-template carouselSlide [id]="banners[0]?.image">
        <div class="item" style="background-color: rgb(235, 235, 235);">
          <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 col-md-6 order-last">
              <div class="item_image">
                <img src="{{banners[0]?.image}}" alt="image_not_found">
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="item_content">
                <!-- <strong class="offer_text">10%off</strong> -->
                <h3 class="item_title mb_15"> Step Out in Style With African Swag; </h3>
                <p class="mb-2">
                  There is Something For Everyone
                </p>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide [id]="banners[1]?.image">
        <div class="item" style="background-color: #B6F0B9;">
          <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 col-md-6 order-last">
              <div class="item_image">
                <img src="{{banners[1]?.image}}" alt="image_not_found">
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="item_content">
                <!-- <strong class="offer_text">10%off</strong> -->
                <h3 class="item_title mb_15">Shirts For Him, Shirts For Her, No one gets left behind;
                 </h3>
                <p class="mb-2">
                  Tailored In Africa With Love
                </p>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide [id]="banners[2]?.image">
        <div class="item" style="background-color: #363636; color: #fff !important;">
          <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 col-md-6 order-last">
              <div class="item_image">
                <img src="{{banners[2]?.image}}" alt="image_not_found">
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="item_content">
                <!-- <strong class="offer_text" style="color: #ffffff;">10%off</strong> -->
                <h3 class="item_title mb_15" style="color: #ffffff;"> Get rewarded while you shop; share the love with everyone.</h3>
                <p class="mb-2 " style="color: #ffffff;">
                 Get cash back whenever your referral code is used.
                </p>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ng-container>

  </owl-carousel-o>
      </div>
  </div>
  <!-- <div class="container">
    <mat-progress-bar
     color="Primary"
     mode="determinate"
     [value]="progressbarValue">
    </mat-progress-bar>
  </div> -->
  </section>

			<!-- slider_section - end
			================================================== -->

  </main>
