.billing_form{
    padding-bottom: 30px !important;
}

.example-radio-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 15px;
    padding-top: 20px;
    margin-top: 0;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 12px !important;
    

    img{
        width: 60px;
        height: 40px;
        
    }

  }


  
  .example-radio-button {
    
    margin: 5px;
    border: 1px solid rgba($color: #0071bc, $alpha: .3);
    padding: 10px;
    width: 20%;
    display: flex;
    justify-content: space-around;

        .devlivery-info{
            justify-self: end;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            p{
                margin-bottom: 0;
                margin-top: 5px;
            }
        }
    }

  .payment-instructions-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

 

//   .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    
//   }
  //.mat-radio-label

  @media screen and (max-width: 991px) {
    .example-radio-group {
       
        font-size: 9px !important;
    
        img{
            width: 60px;
            height: 40px;
        }
    
      }
      
      .example-radio-button {
        margin: 5px;
       width: 45%;

      }
  }

  @media screen and (max-width: 350px) {
    .example-radio-group {
       
        font-size: 6px !important;
    
        img{
            width: 40px;
            height: 20px;
        }
    
      }
      
    
  }

  
 
