<div
  *ngIf="loader"
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  "
>
  <div
    class="spinner-grow"
    style="width: 3rem; height: 3rem; color: green"
    role="status"
  >
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<!-- header_section - start
		================================================== -->
<app-top-nav></app-top-nav>
<!-- header_section - end
		================================================== -->

<!-- main body - start
		================================================== -->
<main *ngIf="!loader">
  <!-- <app-section-banner></app-section-banner> -->
  <!-- sidebar mobile menu & sidebar cart - start
			================================================== -->

  <!-- sidebar mobile menu & sidebar cart - end
			================================================== -->

  <!-- breadcrumb_section - start
			================================================== -->

  <!-- breadcrumb_section - end
			================================================== -->

  <!-- checkout_section - start
			================================================== -->
  <section class="checkout_section sec_ptb_140 clearfix">
    <div class="container">
		<div class="mb-3">
			<a [routerLink]="['']" >Home</a>/<a [routerLink]="['/cart']">Cart</a>/<a >Checkout </a>
		</div>
      <!-- <ul class="checkout_step ul_li clearfix">
        <li [routerLink]="['/cart']" class="activated"><a>Cart</a></li>
        <li class="active"><a> Checkout</a></li>
        <li><a>Complete</a></li>
      </ul> -->

      <!-- <div class="container m-5">
            <button (click)="openD()" >Open Dialog</button>
          </div> -->

      <div class="row">
        <div class="col-lg-6" *ngIf="!isLoggedIn">
          <div class="checkout_collapse_content">
            <mat-accordion>
              <mat-expansion-panel hideToggle class="py-3">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <div class="wrap_heade">
                      <p class="mb-0">
                        Returning customer/Guest?
                        <a class="collapsed" role="button">Login Here</a>
                      </p>
                    </div>
                  </mat-panel-title>
                  <!-- <mat-panel-description>
                      This is a summary of the content
                    </mat-panel-description> -->
                </mat-expansion-panel-header>
                <div id="" class="collapse_form_wrap">
                  <div class="card-body">
                    <form
                      [formGroup]="formGroup"
                      (ngSubmit)="onSubmit(formGroup?.value)"
                    >
                      <div class="row">
                        <div class="col-lg-6" *ngIf="isGuest">
                          <div class="form_item">
                            <input
                              type="text"
                              placeholder="Full name"
                              formControlName="customer_name"
                            />
                          </div>
                        </div>
                        <div class="col-lg-6" *ngIf="isGuest">
                          <div class="form_item">
                            <input
                              type="email"
                              placeholder="Email"
                              formControlName="email"
                            />
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form_item">
                            <input
                              type="tel"
                              placeholder="Phone number"
                              formControlName="phone_number"
                            />
                          </div>
                        </div>
                        <div class="col-lg-6" *ngIf="!isGuest">
                          <div class="form_item">
                            <input
                              type="password"
                              placeholder="Password"
                              formControlName="password"
                            />
                          </div>
                        </div>
                      </div>
                      <mat-progress-bar
                        *ngIf="isProcessing"
                        class="mb-3"
                        mode="indeterminate"
                      ></mat-progress-bar>
                      <div class="login_button">
                        <div class="checkbox_item">
                          <label for="remember_checkbox"
                            ><input type="checkbox" (click)="Guest()" />Checkout
                            as Guest?</label
                          >
                        </div>

                        <button
                          [disabled]="formGroup?.invalid || isProcessing"
                          type="submit"
                          class="custom_btn bg_default_red"
                        >
                          Login Now
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="checkout_collapse_content">
            <mat-accordion>
              <mat-expansion-panel hideToggle class="py-3">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <div class="wrap_heade">
                      <p class="mb-0">
                        <i class="ti-info-alt"></i>
                        Have a coupon?
                        <a class="collapsed">Enter your code here</a>
                      </p>
                    </div>
                  </mat-panel-title>
                  <!-- <mat-panel-description>
                        This is a summary of the content
                      </mat-panel-description> -->
                </mat-expansion-panel-header>
                <div id="coupon_collapse" class="collapse_form_wrap">
                  <div class="card-body">
                    <form
                      [formGroup]="promoCodeFormGroup"
                      (ngSubmit)="applyCoupon()"
                    >
                      <div class="form_item">
                        <input
                          type="text"
                          name="coupon"
                          placeholder="Coupon Code"
                          formControlName="promoCode"
                        />
                      </div>
                      <button type="submit" class="custom_btn bg_default_red">
                        Apply coupon
                      </button>
                    </form>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </div>

      <!-- Mat Stepper -->

      <mat-stepper [linear]="true" #stepper>
        <mat-step [stepControl]="deliveryMethod">
          <ng-template class="stepper-title" matStepLabel>Delivery</ng-template>
		  <form
		  [formGroup]="deliveryMethod"
		>
          <div class="billing_form">
            <!-- <h3 class="form_title mb_30">Delivery Option</h3> -->
            <p class="">Pick your delivery Option</p>
            <label id="example-radio-group-label"></label>
            <mat-radio-group
			formControlName="delivery_method"
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              [(ngModel)]="selectedDelivery"
            >
              <mat-radio-button
                class="example-radio-button"
                [value]="deliveryOptions?.DHL_DELIVERY"
                *ngIf="
                  currency !== currencies.GHS &&
                  currency !== currencies.NGN &&
                  currency !== currencies.USD
                "
              >
                DHL DELIVERY
              </mat-radio-button>
              <mat-radio-button
                class="example-radio-button"
                [value]="deliveryOptions?.GH_BIKE_DELIVERY"
                *ngIf="currency == currencies.GHS || currency == currencies.USD"
              >
                GH BIKE DELIVERY
              </mat-radio-button>
              <mat-radio-button
                class="example-radio-button"
                [value]="deliveryOptions?.NG_BIKE_DELIVERY"
                *ngIf="currency == currencies.NGN"
              >
                NG BIKE DELIVERY
              </mat-radio-button>
              <mat-radio-button
                class="example-radio-button"
                [value]="deliveryOptions?.BOLT_DELIVERY"
                *ngIf="
                  currency == currencies.GHS ||
                  currency == currencies.NGN ||
                  currency == currencies.USD
                "
              >
                BOLT DELIVERY
              </mat-radio-button>
              <mat-radio-button
                class="example-radio-button"
                [value]="deliveryOptions?.UBER_DELIVERY"
                *ngIf="currency == currencies.GHS || currency == currencies.USD"
              >
                UBER DELIVERY
              </mat-radio-button>
              <mat-radio-button
                class="example-radio-button"
                [value]="deliveryOptions?.PICKUP"
                *ngIf="
                  currency === currencies.GHS ||
                  currency === currencies.NGN ||
                  currency == currencies.USD
                "
              >
                PICKUP
              </mat-radio-button>
              <mat-radio-button
			  	*ngIf="fathersDay===true"
                class="example-radio-button"
                [value]="deliveryOptions?.GIFT"
              
              >
                FATHER'S DAY GIFT
              </mat-radio-button>
            </mat-radio-group>
          </div>
          <!-- <div>Your Selected option is: {{selectedDelivery}} </div> -->

          <div class="mat_action_btn">
            <button [disabled]="!selectedDelivery" mat-button matStepperNext>Next</button>
          </div>
		  </form>
        </mat-step>
        <mat-step [stepControl]="addressFormGroup"  *ngIf="selectedDelivery !== deliveryOptions?.PICKUP">
          <ng-template matStepLabel>Address</ng-template>
		  <form
		  [formGroup]="addressFormGroup"
		  (ngSubmit)="updateDeliveryAddress(addressFormGroup?.value)"
		>
          <div
            class="billing_form mb_50"
            *ngIf="selectedDelivery !== deliveryOptions?.PICKUP"
          >
            <h3 class="form_title mb_30">Delivery details</h3>
          
              <div class="form_wrap">
                <div class="form_item">
                  <span class="input_title">Address<sup>*</sup></span>
                  <input
                    type="text"
                    formControlName="address"
                    placeholder="House number and street name"
                  />
                </div>

                <div class="form_item">
                  <span class="input_title">Town/City<sup>*</sup></span>
                  <input type="text" formControlName="city" />
                </div>

                <div class="form_item">
                  <span class="input_title">Region/State<sup>*</sup></span>
                  <input type="text" formControlName="state" />
                </div>
                <br />
                <div class="form_item">
                  <span class="input_title">Location<sup>*</sup></span>
                  <input
                    type="text"
                    placeholder="Location"
                    formControlName="location"
                  />
                  <mat-error *ngIf="location?.invalid && location?.touched">
                    Please enter location
                  </mat-error>
                </div>

                <div class="form_item mb-0">
                  <span class="input_title">Order notes<sup>*</sup></span>
                  <textarea
                    formControlName="order_note"
                    placeholder="Note about your order, eg. special notes fordelivery."
                  ></textarea>
                </div>

                <!-- <p class="alert alert-info alert-dismissable mt-2">
                  Plese Click <b>Confirm Address</b> and scroll down to complete
                  payment
                </p> -->

                <!-- <div
                  class=""
                  style="display: flex; width: 100%; padding-top: 20px"
                >
                  <button
                    type="submit"
                    style="
                      background-color: #026e08;
                      color: #fff;
                      padding: 2px 5px;
                      border-radius: 2px;
                    "
                    [disabled]="!addressFormGroup.valid"
                  >
                    Confirm Address
                  </button>
                </div> -->
              </div>
          
          </div>
		  <div class="mat_action_btn">
			<button mat-button matStepperPrevious>Back</button>
			<button  type="submit" [disabled]="!addressFormGroup.valid" mat-button matStepperNext>Next</button>
          </div>
		</form>
        </mat-step>
        <mat-step [stepControl]="paymentFormGroup">
          <ng-template matStepLabel>Order Summary</ng-template>

          <h3 class="form_title mb_30">Your order</h3>
          <app-empty-record
            *ngIf="cartItems?.length <= 0 && !isProcessing"
          ></app-empty-record>
          <div class="form_wrap">
            <div class="checkout_table" *ngIf="cartItems.length > 0">
              <table class="table text-center mb_50">
                <thead class="text-uppercase text-uppercase">
                  <tr>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of cartItems; let i = index">
                    <td>
                      <div class="cart_product">
                        <div class="item_image">
                          <img
                            src="{{ item.item.image }}"
                            onerror="this.src='../../assets/images/reg_bg_02.png'"
                            alt="image_not_found"
                          />
                        </div>
                        <div class="item_content">
                          <h4 class="item_title mb-0">{{ item.item.name }}</h4>
                        </div>
                      </div>
                    </td>
                    <td>
                      <span
                        class="price_text"
                        *ngIf="
                          item?.country === countriesEnum?.GH ||
                          item?.country === item?.countriesEnum?.NG ||
                          item?.country === '' ||
                          item?.country === undefined
                        "
                      >
                        {{ item?.item?.currency }}
                        {{ item?.item?.selling_price | number: "1.2-2" }}
                      </span>
                      <span
                        class="price_text"
                        *ngIf="
                          item?.country !== countriesEnum?.GH &&
                          item?.country !== item?.countriesEnum?.NG &&
                          item?.country !== '' &&
                          item?.country !== undefined
                        "
                      >
                        $ {{ item?.item?.selling_price_usd | number: "1.2-2" }}
                      </span>
                    </td>
                    <td>
                      <span class="quantity_text">{{ item?.quantity }}</span>
                    </td>
                    <td>
                      <span class="total_price"
                        >{{ item?.item?.currency }}
                        {{ item?.total_amount | number: "1.2-2" }}</span
                      >
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <span class="subtotal_text">Delivery Fee</span>
                    </td>
                    <td>
                      <span class="subtotal_text">{{ selectedDelivery }}</span>
                    </td>
                    <td>
                      <!-- <span class="subtotal_text">Delivery Option</span> -->
                    </td>
                    <td>
                      <span class="subtotal_text"
                        >{{ currency }}
                        {{ serviceCharge | number: "1.2-2" }}</span
                      >
                    </td>
                  </tr>

                  <tr>
                    <td class="text-left">
                      <span class="subtotal_text">TOTAL</span>
                    </td>
                    <td></td>
                    <td></td>
                    <td>
                      <span class="total_price"
                        >{{ currency }}
                        {{ subTotal - discountAmount | number: "1.2-2" }}</span
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

		  <div class="mat_action_btn">
			<button mat-button matStepperPrevious>Back</button>
			<button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Payment</ng-template>
		  <form
		  [formGroup]="paymentFormGroup"
		  (ngSubmit)="placeOrder(paymentFormGroup?.value)"
		>
          <div class="billing_form">
           
              <div class="billing_payment_mathod">
                <div class="container">
                  <label id="example-radio-group-label"
                    >Pick your Payment Option</label
                  >
                  <mat-radio-group
                    formControlName="payment_method"
                    aria-labelledby="example-radio-group-label"
                    class="example-radio-group"
                  >
                    <mat-radio-button
                      class="example-radio-button"
                      [value]="'MOMO'"
                      (click)="selectPaymentMethod('MOMO', 'MTN', 'MTN MOMO')"
                    >
                      MTN MOMO
                    </mat-radio-button>
                    <mat-radio-button
                      class="example-radio-button"
                      [value]="'MOMO'"
                      (click)="
                        selectPaymentMethod('MOMO', 'VODAF', 'VODAFONE CASH')
                      "
                    >
                      VODAFONE CASH
                    </mat-radio-button>
                    <mat-radio-button
                      class="example-radio-button"
                      [value]="'ATG'"
                      (click)="
                        selectPaymentMethod('MOMO', 'AIR', 'AIRTELTIGO CASH')
                      "
                    >
                      AIRTELTIGO CASH
                    </mat-radio-button>
                    <mat-radio-button
                      class="example-radio-button"
                      [value]="'CARD'"
                      (click)="selectPaymentMethod('CARD', '', '')"
                    >
                      CARD PAYMENT
                    </mat-radio-button>
                  </mat-radio-group>
                </div>

                <p class="mt-2" *ngIf="paymentMethod === 'MOMO'">
                  Plese provide MoMo Number and click <b>COMPLETE ORDER</b>
                  <span *ngIf="subdomain">
                    to pay for
                    <b
                      >GHS {{ currency }} {{ subTotal | number: "1.2-2" }}</b
                    ></span
                  >
                </p>
                <p
                  class=""
                  *ngIf="paymentMethod == 'MOMO' && paymentNetwork === 'VODAF'"
                >
                  Dial <b>*110#</b> and select option <b>6</b> to generate your
                  voucher code.
                </p>
                <div
                  class="form-group my-4 confirm-wrappar"
                  *ngIf="paymentMethod === 'MOMO'"
                >
                  <div
                    class="col-md-12 col-sm-12 col-xs-12 pl-0 pr-0 payment-methods-input"
                  >
                    <input
                      type="text"
                      placeholder="Phone Number"
                      numberOnly
                      formControlName="sender_wallet_number"
                    />
                  </div>
                  <div
                    class="col-md-12 col-sm-12 col-xs-12 mt-2 pl-0 pr-0 payment-methods-input"
                    *ngIf="
                      paymentMethod === 'MOMO' && paymentNetwork === 'VODAF'
                    "
                  >
                    <input
                      type="text"
                      placeholder="Voucher Code"
                      numberOnly
                      formControlName="payment_voucher_code"
                    />
                  </div>
                </div>
                <!-- <button
                  type="submit"
                  class="custom_btn bg_default_red"
                  [disabled]="
                    paymentMethod === '' ||
                    paymentMethod === undefined ||
                    (paymentMethod === null && paymentFormGroup?.invalid)
                  "
                >
                  COMPLETE ORDER
                </button> -->
              </div>
          
          </div>
		  <div class="mat_action_btn">
			<button mat-button matStepperPrevious>Back</button>
			<button mat-button matStepperNext 
			[disabled]="
			paymentMethod === '' ||
			paymentMethod === undefined ||
			(paymentMethod === null && paymentFormGroup?.invalid)
		  "
			>Complete Order</button>
          </div>
		</form>
        </mat-step>
      </mat-stepper>

      <!-- Mat Stepper End -->
    </div>
  </section>
  <!-- checkout_section - end
			================================================== -->
</main>
<!-- main body - end
		================================================== -->
<!-- footer_section - start
		================================================== -->
<app-footer *ngIf="!loader"></app-footer>
<!-- footer_section - end
		================================================== -->
