<section>
	<div class="container">
	  <div class=" alert alert-info">
		<p>Account Info</p>
	  </div>
	  <div class="mb-3 row">
		<label for="staticEmail" class="col-sm-2 col-form-label">First Name</label>
		<div class="col-sm-10">
		  <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{user.first_name}}">
		</div>
	  </div>
	  <div class="mb-3 row">
		<label for="staticEmail" class="col-sm-2 col-form-label">Last Name</label>
		<div class="col-sm-10">
		  <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{user.last_name}}">
		</div>
	  </div>
	  <div class="mb-3 row">
		<label for="staticEmail" class="col-sm-2 col-form-label">Phone Number</label>
		<div class="col-sm-10">
		  <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{user.phone_number}}">
		</div>
	  </div>
	  <div class="mb-3 row">
		<label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
		<div class="col-sm-10">
		  <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{user.email}}">
		</div>
	  </div>
	  <div class="mb-3">
  
		<!-- <button class="btn btn-dark">Edit Profile <span class="material-icons">mode_edit</span></button> -->
		<!-- <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
		<div class="col-sm-10">
		  <input type="password" readonly  class="form-control" id="inputPassword" value="1234567">
		</div> -->
	  </div>
  
  
  
	</div>
  </section>
  