<!-- header_section - start
		================================================== -->
    <app-top-nav [featuredShops]="featuredShops" [industries]="industries" [target]="" ></app-top-nav>
		<!-- header_section - end
		================================================== -->

<app-profile-sidebar></app-profile-sidebar>

<router-outlet></router-outlet>

	<!-- footer_section - start
		================================================== -->
		<!-- <app-footer></app-footer> -->
		<!-- footer_section - end
		================================================== -->


