


 <div *ngIf="loader" style="display: flex; justify-content: center; align-items:center; width:100%; height:100%;">
  <div class="spinner-grow" style="width: 3rem; height: 3rem; color: green;" role="status" >
    <span class="visually-hidden">Loading...</span>
  </div>
</div>


		<!-- preloader - start -->
		<!-- <div id="preloader"></div> -->
		<!-- preloader - end -->


    <app-top-nav (htmlTarget)="filterByCategory($event)"></app-top-nav>

		<!-- main body - start
		================================================== -->

		<main *ngIf="!loader">



			<!-- modern container - start -->
			<div class="modern_container clearfix" >


          <app-section-banner *ngIf="!loader"></app-section-banner>
				<!-- product_section - start
				================================================== -->
        <div class="container" >

				<section class="product_section sec_ptb_100 clearfix" #target >

          <div class="carparts_filetr_bar clearfix" >
						<div class="row align-items-center justify-content-lg-between" style="display: flex ; justify-content:space-between; flex-wrap: nowrap;">
							<div class="" style="width: 50% !important;">
								<h4 class="result_text">Showing {{products?.length}} of {{totalPage}} </h4>
							</div>

							<div class="" style="width: 50% !important;">
								<form >
									<div class="option_select d-flex align-items-center mb-0">
										<!-- <span class="option_title text-uppercase">Sort by:</span> -->
										<mat-form-field appearance="fill">
                      <mat-label>Sort By Prices</mat-label>
                      <mat-select [(ngModel)]="selectedValue" name="prices">
                        <mat-option *ngFor="let choice of prices" [value]="choice.value">
                          {{choice.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="tab-content mb_50">
						<div id="best_tab" class="tab-pane active">

              <div *ngIf="isProcessing"  class="container spinner-wrapper">
                <mat-spinner class="custom-spinner-color"></mat-spinner>

              </div>
							<div class="row justify-content-center" *ngIf="!isProcessing" >
                <app-empty-record *ngIf="products?.length <= 0 && !isProcessing"></app-empty-record>

								<div   class="col-lg-4 col-md-6 col-sm-12 col-xs-12" *ngFor="let item of products">
									<div class="modern_product_item bg_lightyellow text-uppercase">
										<!-- <ul class="product_label ul_li_right clearfix"  *ngIf="item?.new_quantity<=0">
											<li class="bg_black">Out of Stock</li>
										</ul> -->
										<div class="item_image">
											<img src="{{item.image}}" onerror="this.src='../../assets/images/reg_bg_02.png'" alt="image_not_found">
										</div>
										<div class="item_content">
											<ul class="rating_star ul_li clearfix">
												<!-- <li><i class="fas fa-star"></i></li>
												<li><i class="fas fa-star"></i></li>
												<li><i class="fas fa-star"></i></li>
												<li><i class="fas fa-star"></i></li>
												<li><i class="fal fa-star"></i></li> -->
                        <!-- <button type="button" class="mobile_add" >ADD TO CART</button> -->
											</ul>
											<span class="item_category">{{item?.myShop?.business_name}}</span>
											<h3 class="item_title">
												<a class="underline_effect">{{item?.name | truncate:2}}</a>
											</h3>
											<div class="effect_wrap">
												<span class="item_price"><strong> {{item.currency}} {{item.price_list[0]?.selling_price}} </strong></span>
												<ul class="action_btns ul_li clearfix">
													<li><a class="bg_black"(click)="addProductToCart(item)" (click)="openCartDialog()" >ADD TO CART</a></li>
													<li><a class="bg_white" (click)="openDialog(item)" ><i class="fal fa-search"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="load_more text-center clearfix">
						<app-pagination *ngIf="products?.length > 0 " [dataSet]="products" [nextPage]="nextPage"
              [prevPage]="prevPage" [totalPage]="totalPage" [requestPayload]="filterParams" [requestMethod]="'POST'"
              (pageChanged)="onPageChanged($event)" [(isProcessing)]="isProcessing">
            </app-pagination>
					</div>
				</section>
				<!-- product_section - end
				================================================== -->


				<!-- feature_section - start
				================================================== -->
				<section class="feature_section clearfix">
					<div class="modern_top_product clearfix">
						<ul class="tab_menu nav ul_li_block text-uppercase" role="tablist">
							<li>
								<a class="underline_effect active" data-toggle="tab" href="#homesofa_tab">Home Sofa</a>
							</li>
							<li>
								<a class="underline_effect" data-toggle="tab" href="#woodchair_tab">Wood Chair</a>
							</li>
							<li>
								<a class="underline_effect" data-toggle="tab" href="#officechair_tab">Office Chair</a>
							</li>
						</ul>

						<div class="tab-content">
							<div id="homesofa_tab" class="tab-pane active">
								<div class="row align-items-center justify-content-center">
									<div class="col-lg-6">
										<div class="modern_section_title text-uppercase">
											<span class="sub_title">OUR TOP PRODUCTS</span>
											<h2 class="title_text mb_30">
												home decoration product
											</h2>
											<a class="custom_btn bg_black text-uppercase" href="#!">Shop Now</a>
										</div>
									</div>

									<div class="col-lg-5">
										<div class="item_image">
											<img src="assets/images/portrait-of-happy-black-couple-using-phone-with-sh-2022-02-17-19-50-55-utc.jpg" alt="image_not_found">
										</div>
									</div>
								</div>
							</div>
							<div id="woodchair_tab" class="tab-pane fade">
								<div class="row align-items-center justify-content-center">
									<div class="col-lg-6">
										<div class="modern_section_title text-uppercase">
											<span class="sub_title">OUR TOP PRODUCTS</span>
											<h2 class="title_text mb_30">
												home decoration product
											</h2>
											<a class="custom_btn bg_black text-uppercase" href="#!">Shop Now</a>
										</div>
									</div>

									<div class="col-lg-5">
										<div class="item_image">
											<img src="assets/images/portrait-of-happy-black-couple-using-phone-with-sh-2022-02-17-19-50-55-utc.jpg" alt="image_not_found">
										</div>
									</div>
								</div>
							</div>
							<div id="officechair_tab" class="tab-pane fade">
								<div class="row align-items-center justify-content-center">
									<div class="col-lg-6">
										<div class="modern_section_title text-uppercase">
											<span class="sub_title">OUR TOP PRODUCTS</span>
											<h2 class="title_text mb_30">
												home decoration product
											</h2>
											<a class="custom_btn bg_black text-uppercase" href="#!">Shop Now</a>
										</div>
									</div>

									<div class="col-lg-5">
										<div class="item_image">
											<img src="assets/images/portrait-of-happy-black-couple-using-phone-with-sh-2022-02-17-19-50-55-utc.jpg" alt="image_not_found">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- feature_section - end
				================================================== -->


				<!-- blog_section - start
				================================================== -->
				<section class="blog_section sec_ptb_100 clearfix">
					<div class="modern_blog_listlayout">
						<div class="row align-items-center justify-content-lg-between">
							<div class="col-lg-7 order-last">
								<div class="item_image">
									<img src="assets/images/portrait-of-happy-black-couple-using-phone-with-sh-2022-02-17-19-50-55-utc.jpg" alt="image_not_found">
								</div>
							</div>
							<div class="col-lg-5">
								<div class="item_content">
									<h3 class="item_title text-uppercase mb_30">
										Home Decoration Product
									</h3>
									<ul class="modern_post_meta ul_li text-uppercase mb_15 clearfix">
										<li>24 Sep 2020</li>
										<li><a href="#!"><i class="far fa-heart"></i> 18</a></li>
										<li><a href="#!"><i class="far fa-comment-alt"></i> 3</a></li>
									</ul>
									<p class="mb_30">
										Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et
									</p>
									<a class="custom_btn bg_black text-uppercase" href="#!">Shop Now</a>
								</div>
							</div>
						</div>
					</div>

					<div class="modern_blog_listlayout">
						<div class="row align-items-center justify-content-lg-between">
							<div class="col-lg-7">
								<div class="item_image">
									<img src="assets/images/portrait-of-happy-black-couple-using-phone-with-sh-2022-02-17-19-50-55-utc.jpg" alt="image_not_found">
								</div>
							</div>
							<div class="col-lg-5">
								<div class="item_content">
									<h3 class="item_title text-uppercase mb_30">
										Home Decoration Product
									</h3>
									<ul class="modern_post_meta ul_li text-uppercase mb_15 clearfix">
										<li>24 Sep 2020</li>
										<li><a href="#!"><i class="far fa-heart"></i> 18</a></li>
										<li><a href="#!"><i class="far fa-comment-alt"></i> 3</a></li>
									</ul>
									<p class="mb_30">
										Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et
									</p>
									<a class="custom_btn bg_black text-uppercase" href="#!">Shop Now</a>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- blog_section - end
				================================================== -->

			</div>
			<!-- modern container - end -->
      </div>

		</main>
		<!-- main body - end
		================================================== -->


		<!-- footer_section - start
		================================================== -->
	<app-footer *ngIf="!loader"></app-footer >
		<!-- footer_section - end
		================================================== -->





