
  
  <div class=" alert alert-info">
    <p>Referal Points. Share <b>{{this.referalCodeDetails?.code}}</b> to love ones and earn more!</p>
  </div>

  <div class="points-wrapper">
    <div class="accumulated-title">
        <h1>Discount</h1>
    </div>
    <div class="accumulated-points">
      <h1>{{this.referalCodeDetails?.discount}}</h1> 
    </div>

  </div>
  <div class="money-wrapper">
    <h3>Amount Earned</h3>
    <div class="money-earned">
      GHC {{this.referalCodeDetails?.amount}}
    </div>
  </div>

  <div class="redeem">
    <button class="btn-redeem">Redeem</button>
  </div>
<!--   
   <div class="mb-3 row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Address</label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{user.first_name}}">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Town/City</label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{user.last_name}}">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Region/State</label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{user.phone_number}}">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Location</label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="">
    </div>
  </div>
  <div class="mb-3">
   
  </div> -->
  