	<!-- header_section - start
		================================================== -->
		<header class="header_section classic_ecommerce_header sticky_header clearfix">


			<div class="header_bottom clearfix">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-3">
							<div class="brand_logo">
								<a class="brand_link" href="#!">
									<img src="assets/images/logo-main.png" srcset="assets/images/logo-main.png 2x" alt="logo_not_found">
								</a>

								<ul class="mh_action_btns ul_li clearfix">
									<li>
										<button type="button" class="search_btn" data-toggle="collapse" data-target="#search_body_collapse" aria-expanded="false" aria-controls="search_body_collapse">
											<i class="fal fa-search"></i>
										</button>
									</li>
									<li>
										<button type="button" class="cart_btn">
											<i class="fal fa-shopping-cart"></i>
											<span class="btn_badge">{{cartItems?.length}}</span>
										</button>
									</li>
									<li><button type="button" class="mobile_menu_btn"><i class="far fa-bars"></i></button></li>
								</ul>
							</div>
						</div>

						<div class="col-lg-6">
							<nav class="main_menu clearfix">
								<ul class="ul_li_center clearfix">
									<li class="menu_item_has_child">
										<a>Shops</a>
										<div class="mega_menu text-center">
											<div class="background" data-bg-color="#ffffff">
												<div class="container">
													<ul class="home_pages ul_li clearfix" >
														<li *ngFor="let shop of featuredShops">
															<a [routerLink]="['/shop-details']">
																<span class="item_image">
																	<img src="{{shop.featured_image}}" onerror="this.src='../../assets/images/black-women-shopping.jpg'" alt="image_not_found">
																</span>
																<span class="item_title">{{shop.business_name}}</span>
															</a>
														</li>

													</ul>
												</div>
											</div>
										</div>
									</li>
									<li class="menu_item_has_child">
										<a href="#!">Categories</a>
										<div class="mega_menu">
											<div class="background" data-bg-color="#ffffff">
												<div class="container">
													<div class="row mt__30">
														<div class="col-lg-3" *ngFor="let category of industries">

                              <!-- <div class="page_links" >
																<h3 class="title_text">All</h3>

															</div> -->

															<div class="page_links" >
																<h3 class="title_text" (click)="filterCategory(category.name,target)" (click)="filterByCategory(category.name,target)">{{category.name}}</h3>
																<!-- <ul class="ul_li_block">
																	<li><a href="carparts_shop.html">Shop Page</a></li>
																	<li><a href="carparts_shop_grid.html">Shop Grid</a></li>
																	<li><a href="carparts_shop_list.html">Shop List</a></li>
																	<li><a href="carparts_shop_details.html">Shop Details</a></li>
																</ul> -->
															</div>




														</div>
													</div>
												</div>
											</div>
										</div>
									</li>

									<li><a href="https://www.kudigo.com/" target="_blank" >About us</a></li>
									<!-- <li><a >Contact us</a></li> -->
								</ul>
							</nav>
						</div>

						<div class="col-lg-3">
							<ul class="action_btns_group ul_li_right clearfix">
								<li>
									<button type="button" class="search_btn" data-toggle="collapse" data-target="#search_body_collapse" aria-expanded="false" aria-controls="search_body_collapse">
										<i class="fal fa-search"></i>
									</button>
								</li>
                <li>
									<button id="flip" type="button" class="user_btn" data-toggle="collapse" data-target="#use_deropdown" aria-expanded="false" aria-controls="use_deropdown">
										<i class="fal fa-user"></i>
									</button>
									<!-- <div id="use_deropdown" class="collapse_dropdown collapse"> -->
                    <div id="panel" class="collapse_dropdown collapse">
										<div class="dropdown_content">
											<div *ngIf="isLoggedIn" class="profile_info clearfix">
												<div  class="user_thumbnail">
													<img src="assets/images/reg_bg_02.png" alt="thumbnail_not_found">
												</div>
												<div class="user_content">
													<h4 class="user_name active">Jone Doe</h4>
													<span class="user_title">Seller</span>
												</div>
											</div>
											<ul class="settings_options ul_li_block clearfix">
												<li *ngIf="isLoggedIn"><a><i class="fal fa-user-circle"></i> Profile</a></li>
												<!-- <li><a href="#!"><i class="fal fa-user-cog"></i> Settings</a></li> -->
                        <li *ngIf="isLoggedIn"><a class="cursor-pointer" [routerLink]="['/']"><span
                          class="lnr lnr-user"></span>My Orders</a></li>
                    <li *ngIf="isLoggedIn">
												<li *ngIf="isLoggedIn"><a (click)="onSignOut()" [routerLink]="['/']"><i class="fal fa-sign-out-alt"></i> Logout</a></li>
                        <li *ngIf="!isLoggedIn"><a class="cursor-pointer" (click)="onSignIn()"><span
                          class="lnr lnr-lock"></span> Login</a></li>
                    <li *ngIf="!isLoggedIn"><a (click)="onSignup()" class="cursor-pointer"><span
                          class="lnr lnr-sync"></span>Register</a></li>
											</ul>
										</div>
									</div>
								</li>
								<li>
									<button type="button" class="cart_btn">
										<i class="fal fa-shopping-cart"></i>
										<span class="btn_badge">{{cartItems?.length}}</span>
									</button>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div id="search_body_collapse" class="search_body_collapse collapse">
				<div class="search_body">
					<div class="container">
						<form action="#">
							<div class="form_item mb-0">
								<input type="search" name="search" placeholder="Type here...">
								<button type="submit"><i class="fal fa-search"></i></button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</header>
		<!-- header_section - end
		================================================== -->
