	<!-- header_section - start
		================================================== -->
		<header class="header_section classic_ecommerce_header sticky_header clearfix">


			<div class="header_bottom clearfix">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-3">
							<div class="brand_logo">
								<a class="brand_link" href="#!">
									<img src="assets/images/logo-main.png" srcset="assets/images/logo-main.png 2x" alt="logo_not_found">
								</a>

								<ul class="mh_action_btns ul_li clearfix">
									<li>
										<button type="button" class="search_btn" data-toggle="collapse" data-target="#search_body_collapse" aria-expanded="false" aria-controls="search_body_collapse">
											<i class="fal fa-search"></i>
										</button>
									</li>
									<li>
										<button type="button" class="cart_btn">
											<i class="fal fa-shopping-cart"></i>
											<span class="btn_badge">{{cartItems?.length}}</span>
										</button>
									</li>
									<li><button type="button" class="mobile_menu_btn"><i class="far fa-bars"></i></button></li>
								</ul>
							</div>
						</div>

						<div class="col-lg-6">
							<nav class="main_menu clearfix">
								<ul class="ul_li_center clearfix">
									<li class="menu_item_has_child">
										<a>Shops</a>
										<div class="mega_menu text-center">
											<div class="background" data-bg-color="#ffffff">
												<div class="container">
													<ul class="home_pages ul_li clearfix" >
														<li *ngFor="let shop of featuredShops">
															<a [routerLink]="['/shop-details']">
																<span class="item_image">
																	<img src="{{shop.featured_image}}" onerror="this.src='../../assets/images/black-women-shopping.jpg'" alt="image_not_found">
																</span>
																<span class="item_title">{{shop.business_name}}</span>
															</a>
														</li>

													</ul>
												</div>
											</div>
										</div>
									</li>
									<li class="menu_item_has_child">
										<a >Categories</a>
										<div class="mega_menu">
											<div class="background" data-bg-color="#ffffff">
												<div class="container">
													<div class="row mt__30">
                            <div class="page_links" >
                              <h3 class="title_text" [routerLink] = "['/supermarket', {pageSec: 'section2', category: ''}]" (click)="filterCategory('',target)" (click)="filterByCategory('',target)">All</h3>

                            </div>
														<div class="col-lg-3" *ngFor="let category of industries">

                              <!-- <div class="page_links" >
																<h3 class="title_text">All</h3>

															</div> -->

															<div class="page_links" >
																<h3 class="title_text" [routerLink] = "['/supermarket', {pageSec: 'section2', category: category.name}]" (click)="filterCategory(category.name,target)" (click)="filterByCategory(category.name,target)">{{category.name}}</h3>
																<!-- <ul class="ul_li_block">
																	<li><a href="carparts_shop.html">Shop Page</a></li>
																	<li><a href="carparts_shop_grid.html">Shop Grid</a></li>
																	<li><a href="carparts_shop_list.html">Shop List</a></li>
																	<li><a href="carparts_shop_details.html">Shop Details</a></li>
																</ul> -->
															</div>




														</div>
													</div>
												</div>
											</div>
										</div>
									</li>

									<li><a href="https://www.kudigo.com/" target="_blank" >About us</a></li>
									<!-- <li><a >Contact us</a></li> -->
								</ul>
							</nav>
						</div>

						<div class="col-lg-3">
							<ul class="action_btns_group ul_li_right clearfix">
								<li>
									<button type="button" class="search_btn" data-toggle="collapse" data-target="#search_body_collapse" aria-expanded="false" aria-controls="search_body_collapse">
										<i class="fal fa-search"></i>
									</button>
								</li>
                <li>
									<button id="flip" type="button" class="user_btn" data-toggle="collapse" data-target="#use_deropdown" aria-expanded="false" aria-controls="use_deropdown">
										<i class="fal fa-user"></i>
									</button>
									<!-- <div id="use_deropdown" class="collapse_dropdown collapse"> -->
                    <div id="panel" class="collapse_dropdown collapse">
										<div class="dropdown_content">
											<div *ngIf="isLoggedIn" class="profile_info clearfix">
												<div  class="user_thumbnail">
													<!-- <img src="assets/images/reg_bg_02.png" alt="thumbnail_not_found"> -->
                          <mat-icon>person</mat-icon>
												</div>
												<div class="user_content">
													<h4 class="user_name active">{{currentUser.first_name}} {{currentUser.last_name}}</h4>
													<span class="user_title">{{currentUser.email}}</span>
												</div>
											</div>
											<ul class="settings_options ul_li_block clearfix">
												<li *ngIf="isLoggedIn"><a><i class="fal fa-user-circle"></i> Profile</a></li>
												<!-- <li><a href="#!"><i class="fal fa-user-cog"></i> Settings</a></li> -->
                        <li *ngIf="isLoggedIn"><a class="cursor-pointer" [routerLink]="['/account/orders']"><i class="bi bi-basket"></i><span
                          class="lnr lnr-user" ></span>My Orders</a></li>
                    <li *ngIf="isLoggedIn">
												<li *ngIf="isLoggedIn"><a (click)="onSignOut()" [routerLink]="['/']"><i class="fal fa-sign-out-alt"></i> Logout</a></li>
                        <li *ngIf="!isLoggedIn"><a class="cursor-pointer" (click)="onSignIn()"><span
                          class="lnr lnr-lock"></span> Login</a></li>
                    <li *ngIf="!isLoggedIn"><a (click)="onSignup()" class="cursor-pointer"><span
                          class="lnr lnr-sync"></span>Register</a></li>
											</ul>
										</div>
									</div>
								</li>
								<li>
									<button type="button" class="cart_btn">
										<i class="fal fa-shopping-cart"></i>
										<span class="btn_badge">{{cartItems?.length}}</span>
									</button>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div id="search_body_collapse" class="search_body_collapse collapse">
				<div class="search_body">
					<div class="container">
						<form action="#">
							<div class="form_item mb-0">
								<input type="search" name="search" placeholder="Type here...">
								<button type="submit"><i class="fal fa-search"></i></button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</header>
		<!-- header_section - end
		================================================== -->
		<!-- sidebar mobile menu & sidebar cart - start
			================================================== -->
			<div class="sidebar-menu-wrapper">
				<div class="cart_sidebar">
					<button type="button" class="close_btn"><i class="fal fa-times"></i></button>

					<ul class="cart_items_list ul_li_block mb_30 clearfix">
						<li *ngFor="let item of cartItems; let i =index">
							<div class="item_image">
                <img src="{{item.item.image}}" onerror="this.src='assets/images/reg_bg_02.png'" alt="image_not_found">
							</div>
							<div class="item_content">
								<h4 class="item_title">{{item?.item?.name}}</h4>
								<span class="item_price" *ngIf="item?.country === countriesEnum?.GH || item?.country === item?.countriesEnum?.NG || item?.country === '' || item?.country === undefined">
                  {{item?.item?.currency}} {{item?.item?.selling_price }}
                </span>
                <span class="item_price" *ngIf="item?.country !== countriesEnum?.GH && item?.country !== item?.countriesEnum?.NG && item?.country !== '' && item?.country !== undefined">
                        $ {{item?.item?.selling_price_usd }}
                </span>
							</div>
							<button type="button" class="remove_btn" (click)="removeItemFromCart(item.id)"><i class="fal fa-trash-alt"></i></button>
						</li>
						<!-- <li>
							<div class="item_image">
								<img src="assets/images/reg_bg_02.png" alt="image_not_found">
							</div>
							<div class="item_content">
								<h4 class="item_title">Yellow Blouse</h4>
								<span class="item_price">$30.00</span>
							</div>
							<button type="button" class="remove_btn"><i class="fal fa-trash-alt"></i></button>
						</li>
						<li>
							<div class="item_image">
								<img src="assets/images/reg_bg_02.png" alt="image_not_found">
							</div>
							<div class="item_content">
								<h4 class="item_title">Yellow Blouse</h4>
								<span class="item_price">$30.00</span>
							</div>
							<button type="button" class="remove_btn"><i class="fal fa-trash-alt"></i></button>
						</li> -->
					</ul>

					<ul class="total_price ul_li_block mb_30 clearfix">
						<li>
							<span>Subtotal:</span>
							<span>{{currency}} {{subTotal}}</span>
						</li>
						<!-- <li>
							<span>Vat 5%:</span>
							<span>$4.5</span>
						</li>
						<li>
							<span>Discount 20%:</span>
							<span>- $18.9</span>
						</li> -->
						<li>
							<span>Total:</span>
							<span *ngIf="country==='GH'">GHS {{subTotal}}</span>
              <span *ngIf="country==='NG'">NGN {{subTotal}}</span>
              <span *ngIf="country===''">$ {{subTotal}}</span>
						</li>
					</ul>

					<ul class="btns_group ul_li_block clearfix">
						<li routerLink="cart-main"> <a routerLink="/cart">View Cart</a> </li>
						<li routerLink="/checkout"><a routerLink="/checkout2">Checkout</a></li>
					</ul>
				</div>

				<div class="sidebar_mobile_menu">
					<button type="button" class="close_btn"><i class="fal fa-times"></i></button>

					<div class="msb_widget brand_logo text-center">
						<a *ngIf="!isLoggedIn" [routerLink]="['/']">
							<img src="assets/images/logo-main.png" srcset="assets/images/logo-main.png 2x" alt="logo_not_found">
						</a>
            <div *ngIf="isLoggedIn" class="user_info">
              <!-- <h3 class="title_text mb_30 text-uppercase"><i class="fas fa-user me-2"></i> User Info</h3> -->
              <div class="profile_info clearfix">
                <div class="user_thumbnail">
                  <!-- <img src="assets/images/reg_bg_01.png" alt="thumbnail_not_found"> -->
                  <mat-icon>person</mat-icon>
                </div>
                <div class="user_content">
                  <h4 class="user_name">{{currentUser.first_name}} {{currentUser.last_name}}</h4>
                  <span class="user_title">{{currentUser.email}}</span>
                </div>
              </div>

            </div>
					</div>

					<div class="msb_widget mobile_menu_list clearfix">
						<h3 class="title_text mb_15 text-uppercase"> Menu List</h3>
						<ul class="ul_li_block clearfix">
							<!-- <li class="active dropdown">
								<a aria-haspopup="true" aria-expanded="false">Shops</a>
								<ul class="ul_li_block dropdown-menu">
									<li><a href="home_carparts.html">Carparts</a></li>
									<li><a routerLink="/supermarket" >Classic Ecommerce</a></li>
									<li><a href="home_creative_onelook.html">Creative Onelook</a></li>
									<li><a href="home_electronic.html">Electronic</a></li>
									<li><a href="home_fashion.html">Fashion</a></li>
									<li><a href="home_fashion_minimal.html">Fashion Minimal</a></li>
									<li><a href="home_furniture.html">Furniture</a></li>
									<li><a href="home_gadget.html">Gadget</a></li>
									<li><a href="home_lookbook_creative.html">Lookbook Creative</a></li>
									<li><a href="home_lookbook_slide.html">Lookbook Slide</a></li>
									<li><a href="home_medical.html">Medical</a></li>
									<li><a href="home_modern.html">Modern</a></li>
									<li><a href="home_modern_minimal.html">Modern Minimal</a></li>
									<li><a href="home_motorcycle.html">Motorcycle</a></li>
									<li><a href="home_parallax_shop.html">Parallax Shop</a></li>
									<li><a href="home_simple_shop.html">Simple Shop</a></li>
									<li><a href="home_single_story_black.html">Single Story Black</a></li>
									<li><a href="home_single_story_white.html">Single Story White</a></li>
									<li><a href="home_sports.html">Sports</a></li>
									<li><a href="home_supermarket.html">Supermarket</a></li>
									<li><a href="home_watch.html">Watch</a></li>
								</ul>
							</li> -->
              <li>
                <mat-expansion-panel [class.mat-elevation-z0]="true" dense>
                  <mat-expansion-panel-header>
                      Profile
                  </mat-expansion-panel-header>
                  <mat-nav-list dense  *ngIf="isLoggedIn">
                      <a mat-list-item [routerLink]="['/account/orders']" ><mat-icon>person</mat-icon>Profile</a>
                      <a mat-list-item [routerLink]="['/account/orders']"><mat-icon>shop</mat-icon>My Orders</a>
                      <a mat-list-item (click)="onSignOut()" [routerLink]="['/']"><mat-icon>logout</mat-icon>Logout</a>
                  </mat-nav-list>
                  <mat-nav-list dense  *ngIf="!isLoggedIn">
                    <a mat-list-item (click)="onSignIn()" ><mat-icon>login</mat-icon>Login</a>
                    <a mat-list-item (click)="onSignup()"><mat-icon>person</mat-icon>Register</a>
                </mat-nav-list>
              </mat-expansion-panel>
              <mat-expansion-panel [class.mat-elevation-z0]="true" dense>
                <mat-expansion-panel-header>
                    Shops
                </mat-expansion-panel-header>
                <mat-nav-list dense  *ngFor="let shop of featuredShops">
                    <a mat-list-item routerLink="['/shop-details']" > {{shop?.business_name}} </a>
                </mat-nav-list>
            </mat-expansion-panel>
            <mat-expansion-panel [class.mat-elevation-z0]="true" dense>
              <mat-expansion-panel-header>
                Categories
              </mat-expansion-panel-header>
              <mat-nav-list dense *ngFor="let category of industries">
                  <a mat-list-item  [routerLink] = "['/supermarket', {pageSec: 'section2', category: category.name}]" >{{category.name}}</a>
              </mat-nav-list>
          </mat-expansion-panel>

          </li>


							<li><a href="contact.html">Conatct Us</a></li>
						</ul>
					</div>

					<!-- <div class="user_info">
						<h3 class="title_text mb_30 text-uppercase"><i class="fas fa-user me-2"></i> User Info</h3>
						<div class="profile_info clearfix">
							<div class="user_thumbnail">
								<img src="assets/images/reg_bg_01.png" alt="thumbnail_not_found">
							</div>
							<div class="user_content">
								<h4 class="user_name">Jone Doe</h4>
								<span class="user_title">Seller</span>
							</div>
						</div>
						<ul class="settings_options ul_li_block clearfix">
							<li><a href="#!"><i class="fal fa-user-circle"></i> Profile</a></li>
							<!-- <li><a href="#!"><i class="fal fa-user-cog"></i> Settings</a></li> -->
							<!--<li><a routerLink="/login" ><i class="fal fa-sign-out-alt"></i> Logout</a></li>
						</ul>
					</div> -->
				</div>

				<div class="overlay"></div>
			</div>
			<!-- sidebar mobile menu & sidebar cart - end
			================================================== -->
