<div class="">
  <button class="bt-link bt-yellow bt-style5 full-width mr-0 text-white" type="button" (click)="checkoutAsGuest()">CHECKOUT AS GUEST</button>
</div>
<h5 class="text-center mt-2 ">OR</h5>
<div class="">
  <button class="bt-link bt-yellow bt-style5 full-width mr-0 text-white" type="button" (click)="login()">SIGN IN</button>
</div>
<h5 class="text-center mt-2">OR</h5>
<div class="">
  <button class="bt-link bt-yellow bt-style5 full-width mr-0 text-white" type="button" (click)="signUp()" mat-dialog-close>SIGN UP</button>
</div>
