<!-- <div *ngIf="loader" style="display: flex; justify-content: center; align-items:center; width:100%; height:100%;">
  <div class="spinner-grow" style="width: 3rem; height: 3rem; color: green;" role="status" >
    <span class="visually-hidden">Loading...</span>
  </div>
</div> -->

		<!-- header_section - start
		================================================== -->
    <app-top-nav></app-top-nav>
		<!-- header_section - end
		================================================== -->


		<!-- main body - start
		================================================== -->
		<main>


			<!-- sidebar mobile menu & sidebar cart - start
			================================================== -->

			<!-- sidebar mobile menu & sidebar cart - end
			================================================== -->
        <!-- <div class="home">
          <div class="row"  style="background-color: white; width: 100%; height: 100%;">
            <div class="col-sm-6 home-left" >
              <h1>GTP GHANA</h1>
              <h3>An exclusive selection of this season's trends.</h3>
              <div class="btns-flow">
                <button type="button" class="btn1">Collections</button>
                <button type="button" class="btn2">Shop Now</button>
              </div>
            </div>
            <div class="col-sm home-right" >
              <div class="item" >

              </div>
            </div>
          </div>
        </div> -->
 <!--
  Shop section banner
 -->
 <section class="offer_section sec_ptb_100 pb-0 clearfix">
  <div class="container">
    <div class="medical_offer_carousel">
<owl-carousel-o [options]="sectionOptions">
  <ng-container >
    <ng-template carouselSlide [id]="banners[0]?.image">
      <div class="item" style="background-color: rgb(235, 235, 235);">
        <div class="row align-items-center justify-content-lg-between">
          <div class="col-lg-6 col-md-6 order-last">
            <div class="item_image">
              <img src="{{banners[0]?.image}}" alt="image_not_found">
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="item_content">
              <strong class="offer_text">10%off</strong>
              <h3 class="item_title mb_15">On the entire range of {{store_name}} Sales</h3>
              <p class="mb-0">
                Don’t miss the  sale  and grab all the available products
              </p>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide [id]="banners[1]?.image">
      <div class="item" style="background-color: #B6F0B9;">
        <div class="row align-items-center justify-content-lg-between">
          <div class="col-lg-6 col-md-6 order-last">
            <div class="item_image">
              <img src="{{banners[1]?.image}}" alt="image_not_found">
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="item_content">
              <strong class="offer_text">10%off</strong>
              <h3 class="item_title mb_15">On the entire range of {{store_name}} Sales</h3>
              <p class="mb-0">
                Don’t miss the  sale  and grab all the available products
              </p>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide [id]="banners[2]?.image">
      <div class="item" style="background-color: #363636; color: #fff !important;">
        <div class="row align-items-center justify-content-lg-between">
          <div class="col-lg-6 col-md-6 order-last">
            <div class="item_image">
              <img src="{{banners[2]?.image}}" alt="image_not_found">
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="item_content">
              <strong class="offer_text" style="color: #ffffff;">10%off</strong>
              <h3 class="item_title mb_15" style="color: #ffffff;">On the entire range of {{store_name}} Sales</h3>
              <p class="mb-0 " style="color: #ffffff;">
                Don’t miss the  sale  and grab all the available products
              </p>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ng-container>

</owl-carousel-o>
    </div>
</div>
<!-- <div class="container">
  <mat-progress-bar
   color="Primary"
   mode="determinate"
   [value]="progressbarValue">
  </mat-progress-bar>
</div> -->
</section>


        <div class="container">

          <section class="product_section sec_ptb_100 clearfix">
            <div class="container">

              <div class="carparts_filetr_bar clearfix" >
                <h1 data-aos="zoom-in-down" >{{store_name}}</h1>
                <div class="row align-items-center justify-content-lg-between" style="display: flex ; justify-content:space-between; flex-wrap: nowrap;">
                  <div class="" style="width: 50% !important;">
                    <h4 class="result_text">Showing {{products?.length}} of {{totalPage}} Products </h4>
                  </div>

                  <div class="" style="width: 50% !important;">

                    <form >
                      <div class="option_select d-flex align-items-center mb-0">
                        <!-- <span class="option_title text-uppercase">Sort by:</span> -->
                        <mat-form-field appearance="fill">
                          <mat-label>Sort By Prices</mat-label>
                          <mat-select [(ngModel)]="selectedValue" name="prices">
                            <mat-option *ngFor="let choice of prices" [value]="choice.value">
                              {{choice.viewValue}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </form>

                  </div>
                </div>
              </div>
              <div class="">
                <ul class="button-group filters-button-group ul_li_right clearfix ms-0">
                    <!-- <li class="large-screen-cat-nav ms-0" ><button [class.active]="selectedCategory === ''" (click)="filterByCategory('')">All</button></li>
                    <li class="large-screen-cat-nav"  *ngFor="let category of industries | slice:0:4"><button (click)="filterByCategory(category?.name)" [class.active]="selectedCategory === category?.name" >{{category?.name}}</button></li> -->

                    <li><span class="filter_sidebar_btn" ><i class="far fa-bars"></i> FILTER</span></li>
                  </ul>
              </div>
              <!-- <router-outlet></router-outlet> -->

              <app-empty-record *ngIf="products?.length <= 0 && !isProcessing"></app-empty-record>

              <div  class="element-grid column4_element_grid mb_50" >

                <div class="element-item " *ngFor="let item of products">
                  <div class="ecommerce_product_grid" data-aos="zoom-in-down">
                    <ul *ngIf="item?.new_quantity<=0" class="product_label ul_li clearfix">
                      <li class="bg-danger">Out of Stock</li>
                    </ul>
                    <div class="tab-content">
                      <div id="ptab1_1" class="tab-pane fade active">
                        <div class="item_image">
                          <img src="{{item.image}}" onerror="this.src='../../assets/images/reg_bg_02.png'" alt="image_not_found">
                        </div>
                      </div>
                      <div id="ptab1_2" class="tab-pane fade">
                        <div class="item_image">
                          <img src="assets/images/reg_bg_02.png" alt="image_not_found">
                        </div>
                      </div>
                      <div id="ptab1_3" class="tab-pane fade">
                        <div class="item_image">
                          <img src="{{item.image}}" onerror="this.src='../../assets/images/reg_bg_02.png'" alt="image_not_found">
                        </div>
                      </div>
                      <ul class="product_action_btns ul_li_center clearfix">
                        <!-- <li><a class="tooltips" data-placement="top" title="Add To Wishlist" href="#!"><i class="fal fa-heart"></i></a></li> -->
                        <li><a class="tooltips" data-placement="top" title="Add To Cart" (click)="addProductToCart(item)" (click)="openCartDialog()" ><i class="fal fa-shopping-basket"></i></a></li>
                        <li><a class="tooltips q-v" data-placement="top" title="Quick View" (click)="openDialog(item)" ><i class="fal fa-eye"></i></a></li>
                      </ul>
                    </div>
                    <div class="item_content">
                      <h3 class="item_title">
                        <a href="#!">{{item.name}}</a>
                      </h3>
                      <ul class="product_color ul_li nav clearfix">
                        <li class="active"><a class="pbg_brown" data-toggle="tab" href="#ptab1_1"></a></li>
                        <li><a class="pbg_olivegreen" data-toggle="tab" href="#ptab1_2"></a></li>
                        <li><a class="pbg_gray" data-toggle="tab" href="#ptab1_3"></a></li>
                      </ul>
                      <span class="item_price"><strong>{{item.currency}} {{item.price_list[0]?.selling_price}} </strong> <del>{{item.currency}} {{item.price_list[0]?.selling_price*2}}</del></span>

                      <button class="mat-button-wrapper mt-3" (click)="addProductToCart(item)">ADD TO CART</button>
                    </div>
                  </div>
                </div>
              </div>
              <app-pagination *ngIf="products?.length > 0 " [dataSet]="products" [nextPage]="nextPage"
                [prevPage]="prevPage" [totalPage]="totalPage" [requestPayload]="filterParams" [requestMethod]="'POST'"
                (pageChanged)="onPageChanged($event)" [(isProcessing)]="isProcessing">
              </app-pagination>
            </div>
          </section>


          <!-- details_section - start
          ================================================== -->


          <!-- details_section - end
          ================================================== -->

        </div>
        	<!-- products container - end
		================================================== -->

    <div class="sidebar-menu-wrapper">
      <div class="filter_sidebar">
        <button type="button" class="close_btn mb_50"><i class="fal fa-times"></i></button>
        <div class="fs_widget fs_category_list">
          <h3 class="fs_widget_title text-uppercase">Top Categories</h3>
          <ul class="ul_li_block clearfix">
            <li><a (click)="filterByShop(storefrontmall_name)" > All </a> </li>
            <li *ngFor="let category of industries"><a (click)="filterByCategory(category.name)">{{category.name}}</a></li>

          </ul>
          <!-- <ul class="ul_li_block clearfix">
            <li><a href="#!"><span><i class="fab fa-black-tie"></i></span>Andy</a></li>
            <li><a href="#!"><span><i class="fal fa-tshirt"></i></span>Ariadne’s Thread</a></li>
            <li><a href="#!"><span><i class="fal fa-watch"></i></span>Black Swan</a></li>
            <li><a href="#!"><span><i class="fal fa-compact-disc"></i></span>Disco</a></li>
            <li><a href="#!"><span><i class="fas fa-gem"></i></span>Discovering Greece</a></li>
            <li><a href="#!"><span><i class="fal fa-bicycle"></i></span>Folding the News</a></li>
            <li><a href="#!"><span><i class="far fa-laptop"></i></span>George C.</a></li>
            <li><a href="#!"><span><i class="fas fa-mobile-alt"></i></span>Helen of Troy</a></li>
            <li><a href="#!"><span><i class="fab fa-black-tie"></i></span>Hi-Tech</a></li>
            <li><a href="#!"><span><i class="fab fa-black-tie"></i></span>Yokoso</a></li>
          </ul> -->
        </div>

        <div class="fs_widget fs_price_list">
          <h3 class="fs_widget_title text-uppercase">Price filter</h3>
          <form action="#">
            <ul class="ul_li_block clearfix">
              <li>
                <input id="fs_price_1" type="radio" name="fs_price_wroup" checked>
                <label for="fs_price_1">$25 - $100</label>
              </li>
              <li>
                <input id="fs_price_2" type="radio" name="fs_price_wroup">
                <label for="fs_price_2">$100 - $200</label>
              </li>
              <li>
                <input id="fs_price_3" type="radio" name="fs_price_wroup">
                <label for="fs_price_3">$200 - $300</label>
              </li>
              <li>
                <input id="fs_price_4" type="radio" name="fs_price_wroup">
                <label for="fs_price_4">$400 - $500</label>
              </li>
              <li>
                <input id="fs_price_5" type="radio" name="fs_price_wroup">
                <label for="fs_price_5">$500 - $1000</label>
              </li>
            </ul>
          </form>
        </div>



        <!-- <div class="fs_widget fs_realted_post">
          <h3 class="fs_widget_title text-uppercase">Your may also like</h3>
          <div class="small_blog">
            <a href="blog_details.html" class="item_image">
              <img src="assets/images/reg_bg_02.png" alt="image_not_found">
            </a>
            <div class="item_content">
              <h3 class="item_title">
                <a href="blog_details.html">
                  A Sound Way To Treat Hearing Loss
                </a>
              </h3>
              <span class="post_date">March 12, 2020</span>
            </div>
          </div>

          <div class="small_blog">
            <a href="blog_details.html" class="item_image">
              <img src="assets/images/reg_bg_02.png" alt="image_not_found">
            </a>
            <div class="item_content">
              <h3 class="item_title">
                <a href="blog_details.html">
                  A Sound Way To Treat Hearing Loss
                </a>
              </h3>
              <span class="post_date">March 12, 2020</span>
            </div>
          </div>

          <div class="small_blog">
            <a href="blog_details.html" class="item_image">
              <img src="assets/images/reg_bg_02.png" alt="image_not_found">
            </a>
            <div class="item_content">
              <h3 class="item_title">
                <a href="blog_details.html">
                  A Sound Way To Treat Hearing Loss
                </a>
              </h3>
              <span class="post_date">March 12, 2020</span>
            </div>
          </div>
        </div> -->
      </div>
    </div>



		</main>
		<!-- main body - end
		================================================== -->


		<!-- footer_section - start
		================================================== -->
    <app-footer></app-footer>
		<!-- footer_section - end
		================================================== -->



		<!-- product quick view - start -->

		<!-- product quick view - end -->
		<!-- shop_section - end
			================================================== -->

