<div class=" alert alert-info">
  <p>Orders ({{orders?.length}})</p>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date Placed</th>
        <th scope="col">Status</th>
        <th scope="col">Amount (Ghc)</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <th scope="row">{{order.id}}</th>
        <td>{{order.date_placed |date:'dd/MM/yyyy'}}</td>
        <td>{{order.status}}</td>
        <td>{{order.gross_total}}</td>
        <td><i class="material-icons">more_vert</i></td>
      </tr>
      <!-- <tr>
        <th scope="row">131426262</th>
        <td>01/12/2022</td>
        <td>placed</td>
        <td>50</td>
        <td><i class="material-icons">more_vert</i></td>
      </tr>
      <tr>
        <th scope="row">131426262</th>
        <td>01/12/2022</td>
        <td>placed</td>
        <td>50</td>
        <td><i class="material-icons">more_vert</i></td>
      </tr> -->
    </tbody>
  </table>
</div>

