<div id="footer">
  <div class="footer" style="padding: 1rem 0rem;">
      <div class="container height-auto">
          <div class="row">
              <div class="col-md-4 col-sm-4 col-xs-6 col-xxs-12">
                  <a  class="sub-title" style="margin: -10px;">
                      <img src="assets/images/kokorko-logo.png"
                          alt="Logo">
                  </a>
                  <div class="contact-footer3">
                      <ul class="list-unstyled">
                          <div class="sub-title pb1">Customer Service:</div>
                          <div>
                              <li><span><i class="fa fa-phone pr1"></i></span> (+233) 307 074 352</li>
                              <li><span><i class="fa fa-phone pr1"></i></span> (+233) 560 511 408</li>
                          </div>
                          <!-- <li><i class="lnr lnr-phone"></i>(+233 24 740 740) <span class="ml2"><i class="lnr lnr-envelope"></i> example@xyz.com</span></li> -->
                      </ul>
                      <div class="social-network3">
                          <ul class="list-inline share-social">
                              <li><a href="https://www.facebook.com/kudigoinc/" target="_blank"><i class="bi bi-facebook"></i></a></li>
                              <li><a href="https://www.instagram.com/kudigoinc/" target="_blank"><i
                                          class="bi bi-instagram"></i></a></li>
                              <li><a href="https://twitter.com/kudigoinc" target="_blank"><i
                                          class="bi bi-twitter"></i></a></li>
                              <li><a href="https://www.youtube.com/channel/UC_3vVFRg0u2QRHMyiv2M7Ew"
                                      target="_blank"><i class="bi bi-youtube"></i></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6 col-xxs-12">
                  <div class="box-menu-footer3">
                      <h2 class="sub-title">Quick Link</h2>
                      <ul class="list-unstyled">
                          <li><a href="https://www.kudigo.com/sf.html" target="_blank">Why KudiGo</a></li>
                          <li><a href="https://www.kudigo.com/sf.html" target="_blank">StoreFront </a></li>
                          <li><a href="https://www.kudigo.com/sf.html" target="_blank">RapidGate </a></li>
                          <li><a href="https://partner.kudigo.com/">Partner Programme </a></li>
                          <li><a href="https://medium.com/kudigo">Blog </a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6 col-xxs-12">
                  <div class="box-menu-footer3">
                      <h2 class="sub-title pb1">OFFICES</h2>
                      <b>Accra Office</b>
                      <p>Block A, Accra Digital Center,<br>
                          Ring Road West,Accra-Ghana.</p>
                      <b>Lagos Office</b>
                      <p>Plot 111, 34B Daniyan Natalia St,<br>
                          Phase 1, Lekki</p>
                  </div>
              </div>
          </div>
          <div class="footer-bottom3">
              <div class="row align-center">

                  <div class="col-md-5 col-sm-5  col-xxs-12">
                    <p class="mb-0 footer-payment-method-title">Payment Methods</p>
                  <div class="footer-payment-methods">
                    <img src="assets/icons/payment.svg" style="height: 30px; width: 30px;" alt="">
                    <img src="assets//icons/Visa_Inc._logo.svg" alt="">
                    <img src="assets/icons/logo-mastercard-mobile.svg" alt="">
                  </div>
                </div>
                  <div class="col-md-5 col-sm-5  col-xxs-12 footer-privacy-policy">
                      <div class="copy-right">
                          <p>All Rights Reserved <a href="https://www.kudigo.com/" target="_blank"><b>KudiGo
                                      Inc. &copy; {{year}} </b></a> |  <a href="https://www.kudigo.com/privacy/" target="_blank"><b>Privacy</b></a></p>
                      </div>

                  </div>
                  <div class="col-md-2 col-sm-2">
                    <img class="ssl-powered-by" src="assets/icons/positivessl_trust_seal_lg_222x54.png" alt="">
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
