

		<!-- footer_section - start
		================================================== -->
		<footer class="footer_section ecommerce_footer bg_black footer-text clearfix">
			<div class="footer_widget_area sec_ptb_100 clearfix">
				<div class="container">
					<div class="row justify-content-lg-between">

						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<div class="footer_widget footer_about">
								<div class="brand_logo mb_15">
									<a href="index.html">
										<img src="assets/images/logo-main.png" srcset="assets/images/logo-main.png" alt="logo_not_found">
									</a>
								</div>

								<p class="mb_50">
									Discover new ways to dress this spring with a selection of the best designer jackets.Discover new ways to dress this spring
								</p>

								<!-- <div class="payment_methods">
									<img src="assets/images/payment_methods_01.png" alt="image_not_found">
								</div> -->
							</div>
						</div>

						<div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
							<div class="footer_widget footer_useful_links clearfix">
								<h3 class="footer_widget_title text-white">Find it Fast</h3>
								<ul class="ul_li_block">
									<li>
										487 Eighth Avenue West Street, New York
									</li>
									<li>Phone: 9039212123</li>
									<li>E-Mail: Simple@mgke</li>
								</ul>
							</div>
						</div>

						<div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
							<div class="footer_widget footer_useful_links clearfix">
								<h3 class="footer_widget_title text-white">Information</h3>
								<ul class="ul_li_block">
									<li><a href="#!">About Us</a></li>
									<li><a href="#!">FAQ Page</a></li>
									<li><a href="#!">Wish List</a></li>
									<li><a href="#!">Contact Us</a></li>
									<li><a href="#!">Work With Us</a></li>
									<li><a href="#!">Offices</a></li>
								</ul>
							</div>
						</div>

						<div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
							<div class="footer_widget footer_useful_links clearfix">
								<h3 class="footer_widget_title text-white">Discover</h3>
								<ul class="ul_li_block">
									<li><a href="#!">Men</a></li>
									<li><a href="#!">Women</a></li>
									<li><a href="#!">Home & Living</a></li>
									<li><a href="#!">Sale</a></li>
									<li><a href="#!">Private Shopping</a></li>
								</ul>
							</div>
						</div>

						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<div class="footer_widget footer_useful_links clearfix">
								<h3 class="footer_widget_title text-white">Contact</h3>
								<ul class="ul_li_block">
									<li><a href="#!">Follow Us On Instagram</a></li>
									<li><a href="#!">Add to Facebook</a></li>
									<li><a href="#!">Pinterest</a></li>
									<li><a href="#!">Follow us on Twitter</a></li>
									<li><a href="#!">Google</a></li>
								</ul>
							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="footer_bottom text-center d-flex align-items-center clearfix">
				<div class="container">
					<p class="copyright_text mb-0">© <a href="#!" class="author_link text-white">Kudigo Inc</a> - All rights Reserved</p>
				</div>
			</div>
		</footer>
		<!-- footer_section - end
		================================================== -->
