<div class="signup-content">
  <div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="signup-form">
        <div class="close-wrapper">
          <span id="close" mat-dialog-close>
            <mat-icon>close</mat-icon>
          </span>
        </div>

        <h2 class="form-title d-flex justify-content-space-between" style="justify-content: space-between; align-items: center;"
          mat-dialog-title><span *ngIf="!codeSent">Sign In</span> <span class="codeSentSpan" *ngIf="codeSent">Code sent to your mail</span> <span *ngIf="!codeSent" class="signup-btn" (click)="onSignup()"
            mat-dialog-close>Register</span>  <span *ngIf="codeSent" class="signup-btn" (click)="resendCode()"
            >Resend Code</span></h2>

        <form class="" [formGroup]="formGroup" (ngSubmit)="getLoginCode(formGroup.value)">
          <div mat-mat-dialog-content>

            <div class="d-flex justify-content-center" *ngIf="isProcessing">
              <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
            <!-- <div class="form-group mb-4">
              <p>Phone Number</p>
                <ngx-intl-tel-input
                [cssClass]="'ngx-tel-custom'"
                [preferredCountries]="preferredCountries"
                [enableAutoCountrySelect]="true"
                [enablePlaceholder]="true"
                [searchCountryFlag]="true"
                [searchCountryField]="[
                  SearchCountryField.Iso2,
                  SearchCountryField.Name
                ]"
                [selectFirstCountry]="false"
                [selectedCountryISO]="CountryISO.Ghana"
                [maxLength]="15"
                [phoneValidation]="true"
                [separateDialCode]="separateDialCode"
                [numberFormat]="PhoneNumberFormat.National"
                name="phone_number"
                formControlName="phone_number"
              >
              </ngx-intl-tel-input>
            
              <mat-error *ngIf="phone_number?.invalid && phone_number?.touched">
                Please enter a valid Phone Number
              </mat-error>
            </div> -->
            <div class="form-group mb-2" *ngIf="!codeSent && !isProcessing">
							<p>Email Address</p>
							<input type="text"  formControlName="email" />
							<mat-error *ngIf="email?.invalid && email?.touched">
								Please enter your email
							</mat-error>
						</div>
            <div class="form-group" *ngIf="codeSent && !isProcessing">
              <p>Enter Code</p>
              <input type="text"  formControlName="code" />
              <mat-error *ngIf="code?.invalid && code?.touched">
                Invalid Code
              </mat-error>
            </div>

            <!-- <div class="forgot">
              <div class="check">
                <input type="checkbox" name="" id="check">
                <label for="check">Stay Signed In</label>
              </div>

              <div class="forgot-password">
                <a>Forgot Password?</a>
              </div>
            </div> -->
           
          </div>
          <div class="login-btn-wrapper" mat-dialog-actions *ngIf="!codeSent && !isProcessing">
            <mat-progress-bar *ngIf="isProcessing" class="mb-0" mode="indeterminate"></mat-progress-bar>
            <button type="submit" class="login-btn" [disabled]="formGroup?.invalid || isProcessing">Get Login Code</button>
          </div> 
          <div class="login-btn-wrapper" mat-dialog-actions *ngIf="codeSent && !isProcessing">
            <mat-progress-bar *ngIf="isProcessing" class="mb-0" mode="indeterminate"></mat-progress-bar>
            <button type="button" class="login-btn" (click)="onSubmit2(loginPayload)">{{btnText}}</button>
          </div> 
          
        </form>
       

      </div>
    </div>
  </div>
</div>