<div class="signup-content">
  <div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="signup-form">
        <div class="close-wrapper">
          <span id="close" mat-dialog-close>
            <mat-icon>close</mat-icon>
          </span>
        </div>

        <h2 class="form-title d-flex justify-content-space-between" style="justify-content: space-between; align-items: center;"
          mat-dialog-title><span>{{heading}}</span> <span class="signup-btn" (click)="onSignup()"
            mat-dialog-close>Register</span></h2>

        <form class="" [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup?.value)">
          <div mat-mat-dialog-content>
            <div class="form-group mb-4">
              <p>Phone Number</p>
              <!-- <input type="tel" formControlName="phone_number" /> -->
             
                <ngx-intl-tel-input
                [cssClass]="'ngx-tel-custom'"
                [preferredCountries]="preferredCountries"
                [enableAutoCountrySelect]="true"
                [enablePlaceholder]="true"
                [searchCountryFlag]="true"
                [searchCountryField]="[
                  SearchCountryField.Iso2,
                  SearchCountryField.Name
                ]"
                [selectFirstCountry]="false"
                [selectedCountryISO]="CountryISO.Ghana"
                [maxLength]="15"
                [phoneValidation]="true"
                [separateDialCode]="separateDialCode"
                [numberFormat]="PhoneNumberFormat.National"
                name="phone_number"
                formControlName="phone_number"
              >
              </ngx-intl-tel-input>
            
              <mat-error *ngIf="phone_number?.invalid && phone_number?.touched">
                Please enter a valid Phone Number
              </mat-error>
            </div>
            <div class="form-group" *ngIf="!isGuest">
              <p>Password</p>
              <input type="password" placeholder="Password" formControlName="password" />
              <mat-error *ngIf="password?.invalid && password?.touched">
                Please enter a password
              </mat-error>
            </div>

            <div class="forgot">
              <div class="check">
                <input type="checkbox" name="" id="check">
                <label for="check">Stay Signed In</label>
              </div>

              <div class="forgot-password">
                <a>Forgot Password?</a>
              </div>
            </div>
           
          </div>
          <div class="login-btn-wrapper" mat-dialog-actions>
            <mat-progress-bar *ngIf="isProcessing" class="mb-0" mode="indeterminate"></mat-progress-bar>
            <button type="submit" class="login-btn" [disabled]="formGroup?.invalid || isProcessing">{{btnText}}</button>
          </div> 
          
        </form>
       

      </div>
    </div>
  </div>
</div>