.country-codes-list-button {
    border-bottom: unset;
    height: 44px;
    padding-top: 16px;
    min-width: 48px;
  }
  .country-codes-list {
    padding-left: unset !important;
  }
  .country-codes-list .flag {
    width: 25px;
    margin-right: 0.6rem;
  }