	<!-- product quick view - start -->
  <div>
  <div class="quickview_modal" id="quickview_modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content clearfix">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" mat-dialog-close>
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="item_image">
          <img src="{{data.item.image}}" onerror="this.src='../../assets/images/reg_bg_02.png'" alt="image_not_found">
        </div>
        <div class="item_content">
          <h2 class="item_title mb_15"> {{data.item.name}}</h2>
          <div class="rating_star mb_30 clearfix">
            <ul class="float-left ul_li me-2">
              <li class="active"><i class="las la-star"></i></li>
              <li class="active"><i class="las la-star"></i></li>
              <li class="active"><i class="las la-star"></i></li>
              <li class="active"><i class="las la-star"></i></li>
              <li><i class="las la-star"></i></li>
            </ul>
            <!-- <span class="review_text">(12 Reviews)</span> -->
          </div>
          <span class="item_price mb_15">{{data.item.currency}} {{data.item?.selling_price | number: '1.2-2'}}</span>
          <p class="mb_30">
            {{data.item?.description}}
          </p>
          <p *ngIf="!data.item.description" class="mb_30">
           No description!
          </p>
          <!-- <div class="quantity_form mb_30 clearfix">
            <strong class="list_title">Quantity:</strong>
            <!-- <div class="quantity_input">
              <form action="#">

                <span class="input_number_decrement" (click)="reduceQty(data.item)">–</span>
                <!-- <input class="input_number" type="text" value="1"> -->
                <!-- <span>{{this.item.quantity}}</span>
                <span class="input_number_increment" (click)="addQty(data.item)">+</span>
              </form>
            </div>
          </div> -->
          <ul class="btns_group ul_li mb_30 clearfix">
            <li><a class="custom_btn bg_carparts_red" (click)="addProductToCart(data.item)" >Add to Cart</a></li>
            <!-- <li><a href="#!" data-toggle="tooltip" data-placement="top" title="" data-original-title="Compare Product"><i class="fal fa-sync"></i></a></li>
            <li><a href="#!" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add To Wishlist"><i class="fal fa-heart"></i></a></li> -->
          </ul>
          <ul class="info_list ul_li_block clearfix">
            <li><strong class="list_title">Shop:</strong> <a [routerLink]="['/shop-details',{shop: data.item.myShop,storefrontmall_name: data.item.myshop.storefrontmall_name,store_name: data.item.myshop.business_name}]" mat-dialog-close>{{data.item.myshop.business_name}}</a></li>
            <!-- <li class="social_icon">
              <strong class="list_title">Share:</strong>
              <ul class="ul_li clearfix">
                <li><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#!"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#!"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#!"><i class="fab fa-pinterest-p"></i></a></li>
              </ul>
            </li> -->
          </ul>

        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- product quick view - end -->
