	<!-- product quick view - start -->
  <div>
  <div class="quickview_modal" id="quickview_modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content clearfix">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" mat-dialog-close>
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="item_image view-popup-image">
          <img src="{{data.item.image}}" onerror="this.src='../../assets/images/ghana-rice.png'" alt="image_not_found">
        </div>
        <div class="item_content">
          <h2 class="item_title mb_15"> {{data.item.name}}</h2>
          <div class="rating_star mb_30 clearfix">
            <ul class="float-left ul_li me-2">
              <li class="active"><i class="las la-star"></i></li>
              <li class="active"><i class="las la-star"></i></li>
              <li class="active"><i class="las la-star"></i></li>
              <li class="active"><i class="las la-star"></i></li>
              <li><i class="las la-star"></i></li>
            </ul>
          </div>
          <span class="item_price mb_15">{{data.item.currency}} {{data.item?.selling_price | number: '1.2-2'}}</span>
          <p class="mb_30">
            {{data.item?.description}}
          </p>
          <p *ngIf="!data.item.description" class="mb_30">
           No description!
          </p>
          <ul class="btns_group ul_li mb_30 clearfix" style="display:flex; justify-content: flex-start !important;">
            <li><a class="custom_btn bg_carparts_red" (click)="addProductToCart(data.item)" mat-dialog-close>Add to Cart</a></li>

          </ul>

        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- product quick view - end -->
